section
  &.notFound
    background: $component_linear
    header
      background: none
      .header_middle_container
        padding: 27px 0 65px
    
    .breadcrumbs
      margin-top: 0 !important
      grid-gap: 8px
      a
        color: $white

      img
        filter: brightness(0) invert(1)
        transform: rotate(180deg)

    
    .main_section_container
      background: none
      margin-top: 0
      border-radius: 0
      .repeat_section_links
        padding-top: 0
        .hovered_links 
          .link_parent
            border-top: 1px solid $white
            &:hover
              .main_link
                background: $white
                color: $black
              
              .link_child
                background: $white
                a
                  color: $black
                
                .row_child
                  .submenu_inner
                    background-color: $white
                    a
                      color: $black
                      &:not(:last-child)
                        border-bottom: .5px solid $black 
            .main_link
              color: $white
      
      .inner_404
        position: relative
        +flex_2
        flex-direction: column
        grid-gap: 23px
        padding: 70px 0 340px

        .brush
          position: absolute
          right: 140px
          top: 288px
        
        .notFound_img
          max-width: 800px
          max-height: 410px
          img
            width: 100%
            height: 100%
        
        p.not_found_text
          +g-b-25
          color: $white

    footer
      background: none
