.about_blog_inner
  .img-container-1600
    display: flex
    max-height: 820px
    margin: 13px 0 52px
    img
      width: 100%
      object-fit: cover
  
  .heading_container_same
    p.adding_info
      +g-r-16
      color: $blue_1

      span
        font-weight: 600
  
  .about_text_container
    margin: 12px 0 0
    .about_title
      +g-b
      font-size: 50px
      line-height: 60px
      color: $blue_1
      margin-bottom: 21px
    
    .column_2
      column-count: 2
      column-gap: 50px
      max-height: auto
      margin-bottom: 80px
      +g-m-18
      color: $black_2
      p
        +g-b-25
        margin: 30px 0 15px
    
    .blog_bottom_container
      display: grid
      grid-gap: 20px
      margin-bottom: 90px
      .blog_single
        display: grid
        grid-template-columns: 453px 1fr
        &:not(:last-child)
          padding-bottom: 20px
          border-bottom: 1px solid rgba(47, 118, 193, 0.8)
        .blog_left_img
          img
            border-radius: 8px
            max-height: 320px
            height: 100%
            object-fit: cover
        .blog_right_container
          display: flex
          flex-direction: column
          justify-content: center
          .blog_right_title
            +g-b-25
            color: $black_2
          .blog_right_content
            margin: 11px 0 20px
            +g-m-18
            line-height: 30px
            color: $black_2
            word-break: break-word
            max-height: 61px
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
          
          .see_more
            min-width: 209px
            width: max-content
            margin: 0
            padding: 0 10px
