section.basket
  .basket_main_container
    margin-bottom: 90px
    .basket_grid
      display: grid
      grid-template-columns: 1fr 387px
      grid-gap: 75px
      .basket_total_boxes
        display: grid
        grid-gap: 20px
        // commit -change
      .result_box
        background-color: $aside_back
        padding: 32px 26.5px 36px
        height: max-content
        border-radius: 8px
        .title_total_box
          .heading
            +g-r-20
            color: $black_2
            text-align: center
            margin-bottom: 12px
          
          > p
            display: flex
            grid-gap: 9px
            justify-content: center
            span
              +g-b
              font-size: 40px
              line-height: 30px
              color: $black_2
            
            +g-m
            font-size: 36px
            line-height: 30px
          
          .delivery_box
            display: flex
            align-items: center
            grid-gap: 3px
            justify-content: center
            flex-wrap: wrap
            margin-top: 30px
            .line_delivery
              height: .5px
              width: 35.5px
              background-color: $blue_1
              margin: 0 3px
            p
              color: $blue_1
              &.content
                +g-r
                font-size: 14px
                line-height: 14px
              &.delivery_price
                display: flex
                grid-gap: 2px
                align-items: center
                +g-m
                font-size: 13px
                line-height: 13px
                span
                  +g-b
                  font-size: 14px
                  line-height: 14px
        a
          width: 100%
          height: 46px
          +flex_2
          border-radius: 4px
          margin-top: 17px


.basket_single_box
  display: grid
  grid-template-columns: 1fr auto
  align-items: flex-start
  grid-gap: 11px
  .basket_left
    padding: 11px 16px
    background: $white
    border: 1px solid #F1F1F1
    border-radius: 4px
    display: grid
    grid-template-columns: auto 1fr auto
    grid-gap: 17px
    align-items: center
    transition: box-shadow .5s

    &:hover
      box-shadow: 0px 4px 15px rgba(236, 236, 236, 0.85)

    .basket_product_img
      width: 126px
      height: 106px
      +flex_2
      border: .5px solid rgb(47, 116, 191)
      border-radius: 4px
      img
        max-width: 90px
        max-height: 90px
    
    .basket_product_info
      display: grid
      grid-template-columns: 125px auto
      grid-gap: 40px
      justify-content: space-between
      padding-right: 25px
      .basket_product_name
        p
          +g-b-25
          line-height: 27px
          color: $black_2
          word-break: break-word
      
      .basket_product_code
        +g-m-14
        color: $black_2
        display: flex
        align-items: center
        span
          margin-left: 4px
    
    .basket_product_operation
      display: flex
      grid-gap: 5px
      .basket_count_box
        display: flex
        align-items: center
        grid-gap: 3px
        height: 33px
        width: 116px
        padding: 10px 20px
        border: 1px solid $blue_1
        border-radius: 5px
        input
          width: 100%
          +g-b-16
          color: $blue_1
          text-align: center
        
      .money_price
        +flex_2
        height: 33px
        background: rgba(241, 241, 241, 0.3)
        border-radius: 4px
        padding: 0 16px
        +g-r-18
        color: $black_2
        span
          +g-b-20
          color: $black_2
  
  .delete
    padding-top: 12px
    img
      width: 14px
      height: 14px