.catalog
  .catalog_main_container
    width: 100%
    .catalog_info_container
      .cat_desc
        max-width: 710px
        margin: 19px 0 36px
        +g-r-16
        line-height: 25px
        color: $black_2
      
      .catalog_box
        display: grid
        grid-template-columns: repeat(6 , 1fr )
        grid-gap: 20px
        margin-bottom: 95px
        .catalog_same
          position: relative
          .catalog_one
            border-radius: 8px
            height: 118px
            display: flex
            align-items: flex-end
          p
            position: absolute
            bottom: 6px
            padding: 0 5px
            text-align: center
            width: 100%
            +g-sb
            font-size: 18px
            line-height: 25px