.company
  .company_main_container
    margin-bottom: 75px
    width: 100%
    .swiper-container
      height: max-content
      padding-bottom: 22px
      margin: 10px 0 65px
      .swiper-pagination
        bottom: 0
        display: flex
        justify-content: flex-end
        grid-gap: 12px
        .swiper-pagination-bullet
          margin: 0
          width: 10px
          height: 10px
          background: rgba(47, 118, 193, 0.4)
          &.swiper-pagination-bullet-active
            background: $blue_1
      .swiper-slide
        .swiper-img
          img
            border-radius: 8px
            width: 100%
    .company_boxes
      width: 900px
      display: grid
      grid-gap: 50px
      .company_single_box

        .company_one_box
          display: grid
          grid-template-columns: repeat(4,1fr)
          grid-gap: 20px 45px
          margin-bottom: 40px 

