section.contact
  position: relative
  overflow: hidden
  .contact_main_container
    width: 100%
    .contact_grid_box
      display: grid
      grid-template-columns: 360px 690px
      justify-content: space-between
      margin: 25px 0 65px

      .contact_left
        display: grid
        grid-auto-rows: minmax(min-content, max-content)
        grid-gap: 65px

        .heading_container_same
          margin: 0

        .left_icon
          max-width: 34px
          max-height: 34px
          height: 100%
          +flex_2
          img
            max-width: 34px
            max-height: 34px

        .contact_same
          display: grid
          grid-template-columns: 34px 1fr
          grid-gap: 26px
          align-items: flex-start
        
        .same_contact_text
          +g-b-25
          color: $black_2
          word-break: break-word
        
        .phones
          display: grid
          grid-gap: 15px
        
        .contact_socials
          display: flex
          grid-gap: 30px
        
      .contact_right
        background: $aside_back
        border-radius: 8px
        padding: 46px 115px 55px
        .write_us
          +g-b-20
          color: $black_2
          margin-bottom: 15px
        
        form#contact_form
          display: grid
          grid-template-columns: 1fr
          grid-gap: 15px
          

          label.error
            display: none !important

          .form-group
            margin-bottom: 0
            position: relative

            &.red_group
              &::after
                content: ''
                position: absolute
                right: 26px
                top: 11px
                background-image: url('../img/caution.svg')
                width: 20px
                height: 16px
            
            &.valid_group
              &::after
                content: ''
                position: absolute
                right: 26px
                top: 11px
                background-image: url('../img/valid.svg')
                width: 18px
                height: 18px

            input:not([type=radio])
              background: $white
              width: 100%
              height: 40px
              padding: 0 50px 0 25px
              +g-m-16
              border-radius: 5px


              & ~ .place-label
                position: absolute
                left: 25px 
                width: max-content 
                top: 11px 
                transition: 0.3s 
                 
                letter-spacing: 0.5px
                +g-m-16
                color: $black_2
                margin-bottom: 0 !important
                
                span
                  color: $blue_1
              
              &:focus ~ .place-label , &.has-content ~ .place-label
                top: -10px 
                font-size: 10px 
                color: $blue_3 
                transition: 0.3s
                background: transparent
                z-index: 1
                padding: 0 7px
                
                span
                  display: none
              
            textarea
              background: $white
              width: 100%
              border-radius: 5px
              +g-m-16
              height: 187px
              resize: none
              padding: 15px 20px

              & ~ .place-label
                position: absolute
                left: 20px 
                width: max-content 
                top: 15px 
                transition: 0.3s 
                 
                letter-spacing: 0.5px
                +g-m-16
                color: $black_2
                margin-bottom: 0 !important
                span
              
              &:focus ~ .place-label , &.has-content ~ .place-label
                top: -10px 
                font-size: 10px 
                color: $blue_3 
                transition: 0.3s
                background: transparent
                z-index: 1
                padding: 0 7px
                
                span
                  display: none

          button
            margin-top: 20px
            height: 46px
