section.delivery
  .delivery_main_container
    margin-bottom: 95px
    .delivery_desc
      +g-r-18
      line-height: 31px
      color: $black_2
      max-width: 945px
      margin: 19px 0
    .mutual_delivery_info_box
      margin-top: 11px 
      .mutual_delivery_single
        .mutual_heading
          margin-bottom: 14px
          display: flex
          justify-content: space-between

          .left_heading_container
            display: flex
            flex-direction: column
            grid-gap: 13px
            justify-content: space-between

            .heading_desc
              +g-m-18
              line-height: 31px
              color: $black_2

          .payment_tools
            display: flex
            grid-gap: 15px
            align-items: center
        
        p.delivery_text
          +g-r-18
          line-height: 31px
          color: $black_2

        p.delivery_head_text
          +g-m-18
          color: $black_2
          margin-bottom: 14px

    .pay_info_condition
      display: flex
      align-items: center
      margin-top: 20px
      span
        +g-b
        font-size: 26px
        line-height: 45px
        color: $blue_1
      p
        +g-r-13
        color: $black_2

  &.pay_info
    .delivery_main_container
      .mutual_delivery_info_box
        .mutual_delivery_single
          &:first-child
            .mutual_heading
                margin-bottom: 48px