section.fag
  .fag_main_container 
    width: 100%
    margin-bottom: 94px
    .fag_desc
      margin: 18px 0 19px
      max-width: 900px
      +g-l-16
      line-height: 30px
      

    .fag_accordion
      width: 100%
      #accordion
        width: 100%
        display: grid
        grid-gap: 20px
        li
          background-color: $aside_back
          border-radius: 8px
          padding-bottom: 6px
          .link
            padding: 29px 27px 21px 40px
            cursor: pointer 
            +flex_1
            .link_accordion
              +g-sb
              font-size: 20px
              line-height: 34px
            button
              transition: all .6s
              img
                height: 23px
                width: 16px
          
          &.open
            .link
              button
                transform: rotate(90deg)
        .submenu
          display: none
          padding: 0 65px 24px 40px
          .submenu_inner
            +g-r-18
            line-height: 30px