section.favourites
  .favourites_main_container
    width: 100%
    .favourites_boxes
      display: grid
      grid-template-columns: repeat(5,1fr )
      grid-gap: 20px 45px
      margin-bottom: 80px
      .favourite_single
        display: grid
        grid-template-columns: 1fr 12px
        align-items: flex-start
        grid-gap: 4px
        button.delete
          margin-top: 8px
          img
            width: 12px
            height: 12px
        .paint_box
          padding-top: 28px
          
          .heart
            top: 8px
            right: 11px
          .paint_img
            margin: 0 auto
            max-width: 139px
            height: 133px
            img
              width: 100%
          
          .paint_desc
            padding: 0 21px
            margin: 13px 0 10px
            .paint_firm
              +g-m
              font-size: 17px
              line-height: 21px
            
            .paint_name
              +g-m
              font-size: 12px
              line-height: 14px
              margin: 3px 0 1px
            
            .paint_type
              +g-r-10
          
            .paint_prices
              display: flex
              justify-content: space-between
              margin-top: auto
              .price_box
                width: 100%
                padding: 10px 0 10px 21px
                display: flex
                grid-gap: 3px
                align-items: center
                background: rgba(241, 241, 241, 0.3)
                border-radius: 4px