footer
  background: $component_linear
  padding: 50px 0 20px
  .footer_main_container
    width: 100%
    .footer_logo
      display: none
      +g-eb
      font-size: 30px
      line-height: 38px
    a
      color: $white
      transition: color .5s
      width: fit-content
      word-break: break-word
      &:hover
        color: $black_2 !important
    .footer_top_container
      display: grid
      grid-template-columns: 115px 165px 165px 136px 115px auto
      grid-gap: 70px
      a
        +g-b
        font-size: 17px
        line-height: 20px
        color: $white
    
    .footer_middle_container
      display: grid
      grid-template-columns: 115px 165px 165px 136px 115px auto
      grid-gap: 70px
      padding: 26px 0 60px
      margin: 26px 0 17px
      border-bottom: 0.5px solid #ECECEC
      border-top: 0.5px solid #ECECEC
      .footer_fraction
        display: flex
        flex-direction: column
        grid-gap: 25px
        &:last-child
          a:last-child
            +g-sb
            font-size: 15px
            line-height: 18px
        a
          +g-r-13

          &:first-child
            +g-sb
            font-size: 15px
            line-height: 18px
    
    .footer_bottom_container
      display: grid
      grid-template-columns: 115px 165px 165px 136px 115px auto
      grid-gap: 70px 
      a
        +g-l
        font-size: 12px
        line-height: 14px
        span
          +g-sb
          margin-left: 4px
      
      .socials
        display: flex
        align-items: center
        grid-gap: 15px
        a
        div
          display: flex
          align-items: flex-start
          grid-gap: 17px
          a
            svg 
              path
                transition: fill .5s
            &:hover
              svg
                path
                  fill: $black_2

    .footer_author
      +flex_1
      margin-top: 17px
      color: $white
      p.author_law
        +g-r-13
      
      .footer_company
        +flex_2
        grid-gap: 17px
        p
          +g-sb
          font-size: 12px
          line-height: 14px
