header
  background: $component_linear
  .header_main_container
    width: 100%
    .header_top_container
      background: $header_1
      width: 100%
      .header_top_flex
        display: flex
        align-items: center
        justify-content: flex-end
        grid-gap: 85px
        padding: 16px 0
        width: 100%
        a
          color: $white
          +g-l
          font-size: 15px
          line-height: 17px
          transition: color .5s
          &:hover
            color: $black_2
          span
            margin-left: 7px
            +g-sb
            font-size: 15px
            line-height: 17px
        
        .languages
          display: flex
          align-items: center
          grid-gap: 9px
          a:first-child
            border-right: 1px solid $white
            padding-right: 10px

    .header_middle_container
      padding: 27px 0 85px
      .header_middle_box
        display: grid
        grid-template-columns: min-content 1fr
        grid-gap: 35px 60px
        width: 100%
        align-items: center
        
        a.logo
          color: $white
          +g-eb
          font-size: 55px
          line-height: 60px

        form
          height: 50px
          display: flex
          align-items: center
          position: relative
          &::before
            content: ''
            position: absolute
            top: 15px
            left: 20px
            width: 22px
            height: 22px
            background-image: url('../img/search.svg')
          input
            height: 50px
            width: 100%
            background: rgba(173, 205, 236, 0.3)
            border-radius: 67px
            padding: 0 55px
            margin-right: -45px
            +g-m-18
            color: $white
            &::placeholder
              +g-m-18
              color: $table_back
          button
            width: 178px
            height: 50px
            
            border-radius: 67px
            +flex_2
            
            +g-b-18
      
        .hamburger
          display: none

        nav
          +flex_1
          width: 100%
          grid-column: 2

          a
            color: $white
            +g-b-20
            position: relative
            transition: all .5s

            &:not(.header_icon)
              &::before
                content: ''
                position: absolute
                left: 0
                bottom: -2px
                width: 100%
                height: 1px
                background-color: $white
                opacity: 0
                visibility: hidden
                transition: opacity .5s

            &:not(.header_icon)
              &:hover
                &::before
                  opacity: 1
                  visibility: visible
              

            &.active
              &::before
                content: ''
                position: absolute
                left: 0
                bottom: -2px
                width: 100%
                height: 1px
                background-color: $white

          div.icons-right
            display: flex
            align-items: center
            grid-gap: 23px
            a
              &:hover
                &::before
                  display: none

.header_overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: $blue_4
  visibility: hidden
  width: 0
  left: 50%
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s
  transition: width 0.5s 0.3s, visibility 0s 0.8s
  z-index: 101

  .overlay_loop
    position: relative
    height: 100%
    padding: 38px 25px 100px
    opacity: 0
    visibility: hidden
    -webkit-transition: opacity 0.3s 0.5s
    transition: opacity 0.3s 0.5s
    text-align: center
    overflow: auto

    .company_header_box
      min-height: 100%
      margin-top: 15px
    
    .section_header_box
      display: none
      margin-top: 45px
      ul.main_ul
        display: grid
        grid-gap: 25px
        .has-submenu-link
          padding-bottom: 22px
          >div
            display: flex
            grid-gap: 18px
            align-items: center
            button
              transition: transform .5s
              &.rotate
                transform: rotate(90deg)
          .submenu
            display: none
            margin-top: 25px
            ul
              display: flex
              flex-direction: column
              grid-gap: 25px
              align-items: flex-start
              li
                a
                  +g-r
                  font-size: 15px
                  line-height: 18px
                  color: $white
          >div 
            a
              +g-sb
              font-size: 20px
              line-height: 22px
              color: $white
          
          &:nth-of-type(1)
            border-bottom: 1px solid $orange
          &:nth-of-type(2)
            border-bottom: 1px solid $green
          &:nth-of-type(3)
            border-bottom: 1px solid $blue_6
          &:nth-of-type(4)
            border-bottom: 1px solid $blue_7
          &:nth-of-type(5)
            border-bottom: 1px solid $purple
          &:nth-of-type(6)
            border-bottom: 1px solid $orange
          &:nth-of-type(7)
            border-bottom: 1px solid $pink

    .overlay_heading
      +flex_1
      >a
        color: $white
        +g-eb
        font-size: 45px
        line-height: 50px

      .overlay_close
        img
          width: 18px
          height: 18px
          filter: brightness(0) invert(1)      

    nav
      margin-top: 20%
      margin-bottom: auto
      ul.list-unstyled
        display: flex
        flex-direction: column
        align-items: flex-start
        width: max-content
        grid-gap: 35px
        li
          &:not(.has-submenu-link)
            a
              +g-b-25
          
          &.has-submenu-link
            > div
              display: flex
              align-items: center
              grid-gap: 25px
              a
                +g-m-20
              
              button
                transition: transform .3s
                &.rotate
                  transform: rotate(90deg)
            .submenu
              display: none
              ul
                display: flex
                flex-direction: column
                align-items: flex-start
                grid-gap: 25px
                margin: 25px 0 15px
                li
                  a
                    +g-m
                    font-size: 18px
                    line-height: 22px
                    color: $white
          a
            color: white
    
    .second_list
      display: flex
      flex-direction: column
      align-items: flex-start
      grid-gap: 30px
      margin-top: 60px
      a
        +g-r-18
        color: $white
        span
          font-weight: bold
    
    .overlay_footer
      +flex_1
      justify-content: center
      margin-top: 7vh
      .over_footer_favs
        display: flex
        align-items: center
        grid-gap: 40px
        a
          img
            height: 30px
            width: 30px
      
      .over_footer_langs
        display: flex
        align-items: center
        a
          +g-l
          font-size: 18px
          line-height: 20px
          color: $white
          &:first-child
            margin-right: 12px
            padding-right: 12px
            border-right: 1px solid $white

    form
      height: 40px
      display: flex
      align-items: center
      position: relative
      &::before
        content: ''
        position: absolute
        top: 13px
        left: 16px
        width: 16px
        height: 16px
        background-image: url('../img/search.svg')
        background-size: cover
      input
        height: 40px
        width: 100%
        background: rgba(173, 205, 236, 0.3)
        border-radius: 67px
        padding: 0 55px 0 45px
        margin-right: -45px
        +g-m-18
        color: $white
        &::placeholder
          +g-m-18
          color: $table_back
      button
        width: 115px
        height: 40px
        
        border-radius: 67px
        +flex_2
        
        +g-b-18


  &.open
    visibility: visible
    width: 100%
    -webkit-transition: width 0.5s
    transition: width 0.5s
    

    .overlay_loop
      visibility: visible
      opacity: 1
      -webkit-transition-delay: 0.5s
      transition-delay: 0.5s
