section.index
  .main_section_container
    .index-landing
      display: grid
      grid-template-columns: 42% 58%
      .landing_left
        position: relative
        > img
          width: 100%
        &::after
          position: absolute
          content: ''
          left: 0
          top: 0
          width: 100%
          height: 100%
          background: rgba(47, 57, 67, 0.6)
          mix-blend-mode: multiply

        .left_absolute
          position: absolute
          z-index: 7
          left: 100px
          bottom: 100px
          width: 407px
          display: flex
          flex-direction: column
          justify-content: flex-start
          color: $white
          .heading_left
            +g-b
            font-size: 45px
            line-height: 55px
          .content_left
            +g-r
            font-size: 15px
            line-height: 17px
            margin: 20px 0 30px
          
          .see_more
            margin: unset
            background: $white
            color: $black_2
            border: none
            &:hover
              background: $black_2
              color: $white
      
      .landing_right
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr 
        height: 100%
        position: relative
        .landing-absolute-right-icons
          position: absolute
          z-index: 88888
          opacity: 1
          display: flex
          flex-direction: column
          right: 0
          margin-top: auto
          margin-bottom: auto
          top: 50%
          transform: translate(0, -50%)
          a
            height: 72px
            width: 72px
            +flex_2
            background: white
            border-radius: 29px 0 0
            &:nth-of-type(2)
              border-radius: 0 0 0 29px
          
          &::before
            content: ''
            position: absolute
            width: 100%
            height: 0.2px
            background: #4EA2E8
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
          
        .right_rectangular
          flex: 0 0 50%
          padding: 25px
          display: flex
          flex-direction: column
          justify-content: space-between
          color: $white
          position: relative
          background: $header_1

          &:hover
            .right_rec_abs
              opacity: 1

          .right_rec_abs
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            mix-blend-mode: multiply
            transition: opacity .5s
            opacity: 0

            img
              width: 100%
              height: 100%
              object-fit: cover
            
            &::before
              content: ''
              position: absolute
              left: 0
              top: 0
              width: 100%
              height: 40%
              background: #1EA0EC
              // display: none

          p.header_rec
            +g-b
            font-size: 25px
            line-height: 23px
            width: 205px
            position: relative
            z-index: 7
          
          p.discount_rec
            +g-eb
            font-size: 60px
            line-height: 63px
            text-align: right
            position: relative
            z-index: 7
            padding: 0 7px
          
          &:nth-of-type(1)
            a.link_rec
              margin: 10px auto auto 0
            p.header_rec
              margin-top: 30px
            
          &:nth-of-type(2) 
            background: $blue_5
            p.header_rec
              margin-left: auto
              text-align: right
              margin-top: 30px

            p.discount_rec
              text-align: left
            a.link_rec
              margin: 10px 0 auto auto

          &:nth-of-type(3)
            background: $blue_5
            display: flex
            flex-direction: column
            justify-content: space-between
            grid-gap: 8px
            p.header_rec
              margin-right: auto
              margin-top: auto
          
          &:nth-of-type(4)
            background: $header_1
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-end
            grid-gap: 8px
            p.header_rec
              margin-left: auto
              text-align: right
              margin-top: auto
            p.discount_rec
              align-self: flex-start      
    .same_bottom_container
      margin-top: 55px
      &:not(:first-child)
        margin-top: 120px
         
      .same_img_boxes 
        height: max-content
        margin-bottom: 35px 
      
        .swiper-slide-img
          height: 350px
          img
            height: 100%
            object-fit: cover
            width: 100%
      
      .swiper_4_boxes
        display: flex
        grid-gap: 20px
        .four_swiper
          .swiper-wrapper
            .swiper-slide
              height: max-content
            &.disabled
              display: grid
              grid-template-columns: repeat(4,1fr)
              grid-gap: 20px
              grid-auto-rows: minmax(min-content, max-content)

        .column-right
          width: 387px
          flex: none
          .column_inner_box
            width: 100%
            border-radius: 12px
            height: 100%
          
          .column_form_container
            display: flex
            flex-direction: column
            height: 100%
            padding: 40px 20px 50px
            background-color: rgb(178, 219, 255)
            border-radius: 12px

            .column_form_header
              color: #025BB3
              +g-b
              font-size: 30px
              line-height: 42px
            
            .column_form_content
              +g-r-14
              line-height: 18px
              color: $white
              margin: 21px 0 12px
            
            form
              display: flex
              height: 46px
              width: 100%
              grid-gap: 9px
              input
                border: 1px solid $blue_1
                border-radius: 4px
                height: 100%
                padding: 11px 14px 8px
                +g-r-16
                color: $white
                background-color: transparent
                width: 100%

                &::placeholder
                  +g-l
                  font-size: 15px
                  color: $white
              
              button
                height: 100%
                min-width: 88px
              
            .form_img
              +flex_2
              max-height: 308px
              margin-top: auto

      &.left_four_swiper
        .swiper_4_boxes
          .swiper-container
            order: 2
          
          .column-right
            order: 1

      &.colors_box_container
        .img_grid_main
          display: flex
          align-items: center
          justify-content: space-between
          
          .colored_buttons
            display: flex
            flex-direction: column
            grid-gap: 23px

            div.colored_box
              width: max-content
              position: relative
              background: $white
              transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1)
              border-radius: 4px

              &:nth-of-type(1)
                a
                  border-left: 2px solid $orange

                &:hover
                    &::after
                      background-color: $orange
                
              &:nth-of-type(2)
                a
                  border-left: 2px solid $green

                &:hover
                    &::after
                      background-color: $green
                
              &:nth-of-type(3)
                a
                  border-left: 2px solid $blue_6

                &:hover
                    &::after
                      background-color: $blue_6
                  
              &:nth-of-type(4)
                a
                  border-left: 2px solid $blue_7

                &:hover
                    &::after
                      background-color: $blue_7

              &:nth-of-type(5)
                a
                  border-left: 2px solid $purple

                &:hover
                    &::after
                      background-color: $purple
              
              &:nth-of-type(6)
                a
                  border-left: 2px solid $pink

                &:hover
                    &::after
                      background-color: $pink

              a
                position: relative
                +flex_2
                padding: 6.5px 12px
                +g-sb
                font-size: 20px
                line-height: 27px
                color: $black 
                transition: all .5s
                
              &::after , &::before
                content: ''
                position: absolute	
                transition: inherit
                top: 0
                width: 0
                height: 100%
                border-radius: 4px
              
              &::after
                left: 0

              &:hover
                a
                  color: $white
                  z-index: 888
                  border-radius: 4px 


                &::after
                  // transition-delay: .35s
                  width: 100%

                &::before
                  transition-delay: 0s
                  width: 100%
              

              &::before
                right: 0
                border-left: 0
                border-right: 0

          .imgages_paint_galery
            display: grid
            grid-template-columns: 55% 45%
            .image_galery_single
              display: flex
              img
                border-radius: 4px
                max-width: 100%
                height: 100%
              &:nth-of-type(1)
                padding-right: 10px
                padding-bottom: 10px
                border-bottom: 1px solid $orange
                border-right: 1px solid $orange
                justify-content: flex-end
                align-items: flex-end
                img
              &:nth-of-type(2)
                padding-left: 10px
                padding-bottom: 10px
                border-bottom: 1px solid $orange
                justify-content: flex-start
                align-items: flex-start
                img
              &:nth-of-type(3)
                padding-top: 10px
                padding-right: 10px
                border-right: 1px solid $orange
                justify-content: flex-end
                align-items: flex-end
                img
                  width: 100%
              &:nth-of-type(4)
                padding-left: 10px
                padding-top: 10px
                justify-content: flex-start
                align-items: flex-start
                img
                  width: 100%
                

