.pay_main_container
  width: 100%
  form
    margin-bottom: 95px
    .contact_form_container
      label.error
        display: none !important
      
      .form_title
        +g-b-20
        margin-bottom: 20px
        width: max-content
        position: relative

        &.not_valid
          &::after
            content: ''
            position: absolute
            right: -35px
            top: 4px
            background-image: url('../img/caution.svg')
            width: 20px
            height: 16px
        
        &.valid
          &::after
            content: ''
            position: absolute
            right: -35px
            top: 4px
            background-image: url('../img/valid.svg')
            width: 18px
            height: 18px

      .form-group
        margin-bottom: 0
        position: relative

        &.red_group
          &::after
            content: ''
            position: absolute
            right: 26px
            top: 11px
            background-image: url('../img/caution.svg')
            width: 20px
            height: 16px
        
        &.valid_group
          &::after
            content: ''
            position: absolute
            right: 26px
            top: 11px
            background-image: url('../img/valid.svg')
            width: 18px
            height: 18px

        input:not([type=radio])
          background: rgba(249, 251, 255, 0.86)
          width: 100%
          height: 40px
          padding: 0 50px 0 25px
          +g-m-16
          border-radius: 8px


          & ~ .place-label
            position: absolute
            left: 25px 
            width: max-content 
            top: 11px
            transition: 0.3s 
            letter-spacing: 0.5px
            +g-m-16
            color: $black_2
            margin-bottom: 0 !important
            cursor: auto
            
            span
              color: $blue_1
          
          &:focus ~ .place-label , &.has-content ~ .place-label
            top: -10px 
            font-size: 10px 
            color: $blue_3 
            transition: 0.3s
            background: transparent
            z-index: 1
            padding: 0 7px
            
            span
              display: none
            
        textarea
          background: rgba(249, 251, 255, 0.86)
          width: 100%
          border-radius: 8px
          +g-m-16
          height: 100%
          resize: none
          padding: 11px 25px

          & ~ .place-label
            position: absolute
            left: 20px 
            width: max-content 
            top: 11px 
            transition: 0.3s 
            letter-spacing: 0.5px
            +g-m-16
            color: $black_2
            margin-bottom: 0 !important
            cursor: auto
            span
              color: $blue_1
          
          &:focus ~ .place-label , &.has-content ~ .place-label
            top: -10px 
            font-size: 10px 
            color: $blue_3 
            transition: 0.3s
            background: transparent
            z-index: 1
            padding: 0 7px
            
            span
              display: none

      .fraction-form
        margin-bottom: 30px
        padding-bottom: 20px

        .contact_form_box
          display: grid
          grid-template-columns: 1fr 1fr
          grid-gap: 55px
          width: 955px

          .nice-select
            background: rgba(249, 251, 255, 0.86)
            width: 100%
            border-radius: 8px
            border: none
            height: 40px
            +g-m-16

          .contact_left
            display: grid
            grid-gap: 15px

            button
              display: flex
              justify-content: flex-start
              align-items: center
              grid-gap: 5px
              width: max-content
              margin-left: 7px
              margin-top: -12px
              +g-m
              font-size: 10px
              line-height: 11px
          
          .contact_right
            display: grid
            display: grid
            grid-template-rows: 40px 150px
            grid-gap: 20px


        &.radio-fraction
          .contact_form_box
            width: 100%
            grid-template-columns: 1fr
          .form-group
            display: grid
            grid-template-columns: repeat(3, 215px)
            grid-gap: 15px
            .form-label
              input:checked,input:not(:checked) 
                position: absolute
                left: -9999px

              input:checked + .label-main,
              input:not(:checked) + .label-main
                position: relative
                cursor: pointer
                line-height: 20px
                display: inline-block
                color: #666
              
              input:checked + .label-main:before,
              input:not(:checked) + .label-main:before 
                  content: ''
                  position: absolute
                  left: 0
                  right: 0
                  margin: auto
                  bottom: 19px
                  width: 14px
                  height: 14px
                  border-radius: 3px
                  border: 0.6px solid rgba(44, 52, 62, 0.97)
                  background: $white
              
              input:checked + .label-main:after,
              input:not(:checked) + .label-main:after 
                  content: ''
                  width: 10px
                  height: 10px
                  position: absolute
                  left: 0
                  right: 0
                  margin: auto
                  bottom: 21px
                  border-radius: 2px
                  -webkit-transition: all 0.2s ease
                  transition: all 0.2s ease
                  background: $blue_1 
              
              input:not(:checked) + .label-main:after 
                  opacity: 0
                  -webkit-transform: scale(0)
                  transform: scale(0)
              
              input:checked + .label-main:after 
                  opacity: 1
                  -webkit-transform: scale(1)
                  transform: scale(1)
              
              
              >label
                padding: 26px 15px 44px
                background: #FFFFFF
                border-radius: 8px
                text-align: center
                margin-bottom: 0
                width: 100%
                transition: background .5s
                &:hover
                  background: $aside_back
                &.selected_label
                  background: $aside_back
                .label-img
                  img
                    width: 100px
                    height: 100px
                    object-fit: contain
                
                p
                  +g-m-12
                  margin: 40px 0 0
                  height: 25px
                  word-break: break-word
                  overflow: hidden
                  text-overflow: ellipsis
                  display: -webkit-box
                  -webkit-box-orient: vertical
                  -webkit-line-clamp: 2

      .middle_fraction_container
        display: grid
        grid-template-columns: 450px 1fr
        grid-gap: 55px
        margin-top: 80px
        .fraction-form
          &:first-child
            .contact_form_box
              grid-template-columns: 1fr
              grid-gap: 15px
              width: 100%
            
          .delivery_label
            display: flex
            align-items: center
            grid-gap: 4px
            margin-top: 40px
            p
              +g-r-13
              color: $blue_1

          ul.list
            max-height: 250px
            overflow-y: auto
    .form-result-main-container
      background: $aside_back
      border-radius: 8px
      padding: 45px 0
      +flex_2
      .form_result_box
        width: 669px
        display: grid
        grid-template-columns: 1fr 1.5fr
        grid-gap: 120px
        
        
        .info_form_container
          display: grid
          grid-gap: 20px
          max-width: 183px
          +g-m-12

          .title_result_form
            +g-b-16
            color: $black_2
            margin-bottom: 5px

          .same_result_text
            display: flex
            align-items: center
            grid-gap: 1px
          
          .count_form_box
            padding-bottom: 20px
            border-bottom: 1px solid $blue_1
          .count_form_box , .delivery_form_box
            +flex_1
        
        .result_form_container
          display: flex
          flex-direction: column
          justify-content: flex-start
          .box_summary
            +g-b-20
            +flex_1
            margin-bottom: 35px
            grid-gap: 15px
            flex-wrap: wrap
            .price_summary
              +flex_1
              grid-gap: 2px
            
          button
            height: 46px
            width: 100%

.pay
  .modal
    display: flex
    padding: 0 !important
    z-index: -1
    &.show
      z-index: 8888
    .modal-dialog 
      +flex_2
      max-width: 794px
      height: 100% 
      margin: 0 auto
      z-index: 8888

      .modal-content
        background-clip: none
        border: none
        margin: 0 25px
        
        .content_flex
          display: flex
          flex-direction: column
          align-items: center
          background: $white
          border-radius: 10px
          padding: 20px 0
          .status_img
            +flex_2
            width: 353px
            height: 353px
          
          .modal_title
            +g-b-40
            margin-bottom: 15px
            padding: 0 50px
            text-align: center
            word-break: break-word
          
          .modal_context
            +g-m-20
            max-width: 358px
            text-align: center
            word-break: break-word

        button.close
          opacity: 1
          position: absolute
          right: 2px
          top: -23px
          opacity: 1
          filter: brightness(0) invert(1)