section.project_inner
  .project_inner_container
    margin-bottom: 69px
    .project_top_container
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 12px 20px
      margin-top: 32px
      .swiper-container
        flex: 1
        border: .5px solid rgb(47, 116, 191)
        border-radius: 4px
        .swiper-wrapper
          align-items: center
          .swiper-slide
            padding: 55px 10px
            +flex_2
            cursor: pointer
            .project_loop_box
              max-width: 100%
              img
                width: 100%
      
      .one_img_box
        +flex_2
        flex: 1
        border: .5px solid rgb(47, 116, 191)
        border-radius: 4px
        cursor: pointer
        img
          max-width: 100%
      .project_inner_detail
        flex: 1
        display: flex
        flex-direction: column
        justify-content: space-between
        .project_name
          +g-b
          font-size: 45px
          line-height: 45px
          word-break: break-word
          color: $black_2
          padding-left: 6px
          border-left: 2px solid $border_left
          margin-bottom: 7px

        .project_inner_middle
          margin-bottom: auto

          .project_adding_info_rating
            display: flex
            align-items: center
            justify-content: space-between

            ul.feedback_rating
              display: flex
              grid-gap: 6px
              align-items: center
              li
                width: 14px
                height: 14px
                cursor: pointer
                display: flex
                svg
                  path
                    transition: fill .5s
                    
                &.rated
                  svg
                    path
                      fill: $blue_2

            .same_inner_box
              display: flex
              align-items: center
              grid-gap: 4px
              .custom_check
                width: 14px
                height: 14px
                border-radius: 4px
                border: 1px solid $blue_2
                position: relative

                &::after
                  content: ''
                  position: absolute
                  left: 1px
                  top: 1px
                  width: 10px
                  height: 10px
                  background-image: url('../img/no.svg')
                  background-size: cover

                &.exist
                  &::after
                    content: ''
                    position: absolute
                    left: 1px
                    top: 3px
                    width: 10px
                    height: 8px
                    background-image: url('../img/yes.svg')
                    background-position: center
                    background-size: cover
                    background-repeat: no-repeat

              p
                +g-r-13
                line-height: 14px
                color: $blue_2

          .project_inner_numbers
            display: grid
            grid-template-columns: auto auto
            grid-gap: 10px 80px
            width: max-content
            margin: 16px 0 23px
            .project_inner_single
              +flex_1
              grid-gap: 10px

              p
                +g-r-18
                line-height: 27px
                color: $black_2
              
              &:first-child
                p
                  +g-sb
                  font-size: 18px
                  line-height: 27px
                 
          .project_size_box
            margin-bottom: 29px
            p
              color: #323B43
              margin-bottom: 5px
              +g-sb
              font-size: 15px
              line-height: 15px
            
            .size_grid
              display: flex
              grid-gap: 10px
              align-items: center
              flex-wrap: wrap
              button.size_one
                background: #D6E5F5
                +flex_2
                height: 33px
                color: $black_2
                padding: 0 15px
                +g-r-12
                border-radius: 5px
                opacity: .5
                transition: opacity .2s
                border: 1px solid #D6E5F5
                
                &.active
                  opacity: 1
                  border: 1px solid $blue_2

          .project_color_box
            width: 183px
            height: 33px
            margin-bottom: 20px
            .nice-select
              +flex_2
              width: 183px
              border: 1px solid $blue_2
              padding: 0
              span
                &.current
                  margin: auto
                  color: $blue_2
                  +g-sb
                  font-size: 15px
                  line-height: 15px
          
            .list
              margin: 0
              padding: 9px 11px
              border-radius: 4px 
              background: $link_top
              box-shadow: 0
              
              li
                +flex_2
                padding: 8px 0
                text-align: center
                color: rgba(255, 255, 255, 0.97)
                +g-r-13
                height: max-content
                min-height: unset

                &:not(:last-child)
                  border-bottom: .6px solid #91BCE6
                
                &.disabled
                  background: none
                  color: #D6E5F5
                  opacity: .5
                
                &:not(.disabled):hover
                  color: $blue_2
                  border-radius: 5px

          .project_inner_operation
            display: flex
            align-items: center
            grid-gap: 40px
            margin-bottom: 15px
            .inner_count_box
              display: flex
              align-items: center
              grid-gap: 3px
              height: 33px
              width: 116px
              padding: 10px 20px
              border: 1px solid $black_2
              border-radius: 5px
              input
                width: 100%
                +g-b-16
                color: $black_2
                text-align: center
              
              button
                +g-m
                font-size: 23px
                line-height: 26px
                width: 12px
                height: 12px
                +flex_2
                color: $black_2

            p:last-child
              margin-left: 2px
              +g-m
              font-size: 26px
              line-height: 27px
              span
                +g-b-30
                line-height: 27px
                color: $black_2

        .project_inner_btns
          display: grid
          width: 334px
          grid-gap: 5px
          >*
            width: 100%
            height: 46px
            +flex_2

      .swiper-pagination
        position: relative
        +flex_2
        grid-gap: 12px
        span
          width: 11px
          height: 11px
          background: transparent
          border: 1px solid $blue_3

          &.swiper-pagination-bullet-active
            background: $blue_3

    .project_inner_tab_container
      margin-top: 39px
      nav
        margin: 0 9px
        .nav-tabs
          border: none
          .nav-link
            border: none
            margin-bottom: 0
            flex: unset
            +g-sb
            font-size: 18px
            line-height: 23px
            color: $black_2
            padding: 10px 36px 4px
            transition: color .5s
            &:not(.active)
              &:hover
                color: $blue_1
            &.active
              background-color: $blue_3
              color: $white
              border-radius: 30px 30px 0px 0px
    
      .tab-content
        margin-top: -1px
        background-color: $aside_back
        border-radius: 4px
        border: .5px solid rgb(47,116,191)
        max-height: 385px
        position: relative
        .tab-pane
          padding: 29px 71px 26px 46px
          display: none
          p
            +g-r-18
            line-height: 33px
            color: $black_2
        
        .tab-pane.active
          display: block


        &::before
          content: ''
          position: absolute
          width: calc( 100% - 4px )
          margin: auto
          height: 29px
          left: 0
          right: 0
          bottom: 0
          z-index: 88
          background-color: $aside_back 
          
      
      .simplebar-scrollbar:before
        opacity: 1 !important
        background-color:#2F76C1

      .simplebar-track
        right: 27px
        top: 29px
        bottom: 29px

      .simplebar-horizontal
        display: none
    
    .project_inner_table_info
      display: grid
      grid-gap: 5px
      padding: 25px 0 57px
      .project_inner_heading
        display: grid
        grid-template-columns: 1fr 330px
        grid-gap: 40px
        background-color:  $blue_3
        border-radius: 20px
        padding: 17px 46px 14px
        p
          +g-sb
          font-size: 18px
          line-height: 23px
          color: $white
      
      .project_inner_body
        display: grid
        grid-gap: 5px
        .project_body_row
          display: grid
          grid-template-columns: 1fr 330px
          grid-gap: 40px
          padding: 17px 46px 16px
          border-radius: 8px
          &:nth-of-type(2n+1)
            background-color: $aside_back
          &:nth-of-type(2n)
            background-color: $table_back
          p
            +g-r-16
            line-height: 21px
            color: $black_2