section
  .filter
    display: none
  .main_section_container
    background: $white
    margin-top: -50px
    border-radius: 50px 50px 0 0
    .repeat_section_links
      padding-top: 33px
      position: relative
      z-index: 88
      // display: none
      height: 108px
      .hovered_links
        display: flex
        width: 100%
        justify-content: space-between
        .link_parent
          width: 150px
          height: max-content
          position: relative
          text-align: center
          transition: all .5s
          border-top: 1px solid $link_top
          &:not(:last-child)
            margin-right: 25px
            &:hover
              margin-right: -8px
          
          &:last-child
            &:hover
              margin-left: -33px

          &:hover
            width: 183px
            background: $link_top
            border-radius: 4px 4px 0 0
            .main_link
              +g-r-18
              color: $white
              line-height: 20px
            
            .link_child
              opacity: 1
              visibility: visible
              pointer-events: auto

          .main_link
            +g-r-16
            padding: 0 15px 15px
            line-height: 20px
            color: $black_2
            padding-top: 10px
            transition: all .5s
            width: 100%
          
          .link_child
            position: absolute
            left: 0
            top: 100%
            display: flex
            background: $link_top
            flex-direction: column
            grid-gap: 4px
            width: 100%
            padding: 0 0 5px
            opacity: 0
            pointer-events: none
            visibility: hidden
            transition: opacity .5s
            border-radius: 0 0 4px 4px
            > a
              +g-r-13
              color: $white
              width: 100%
              padding: 8px 0
              transition: color .5s
              &:hover
                color: #323B43
            .row_child
              position: relative
              a
                +g-r-13
                color: $white
                width: 100%
                padding: 8px 0
                transition: color .5s
                &:hover
                  color: #323B43

              &:hover
                .submenu_inner
                  opacity: 1
                  visibility: visible

              .submenu_inner
                position: absolute
                left: 100%
                top: 0
                background: $link_top
                display: flex
                flex-direction: column
                border-radius: 4px
                grid-gap: 12px
                padding: 12px 20px
                visibility: hidden
                opacity: 0
                transition: opacity .5s
                a
                  &:not(:last-child)
                    padding-bottom: 12px
                    border-bottom: .5px solid #ebebeb
                    

    .repeat_main_container
      padding-bottom: 109px
      .filter_grid
        display: flex
        grid-gap: 20px
        justify-content: space-between
        .paint_main_grid
          width: 100%
          display: flex
          flex-direction: column
          grid-gap: 50px
          .paints_grid
            display: grid
            grid-template-columns: repeat( 4 , 1fr )
            grid-gap: 59px
            grid-auto-rows: minmax(min-content, max-content)
        
        aside
          min-width: 285px
          background-color: $aside_back
          border-radius: 8px
          padding: 38px 41px
          height: max-content
          button.esc
            display: none
          
          .left_filter_box
            width: 100%
            display: flex
            flex-direction: column
            grid-gap: 25px
            position: relative


            .filter_header
              +flex_1
              .filter_title
                +g-b-20
                color: $black_2
              
              #clean
                +g-m-10
                color: $blue_1

            .filter_operation
              display: grid
              grid-gap: 30px

              .filter_special_box
                .f_spe_heading
                  +g-m-20
                  color: $black_2
                  width: max-content
                  position: relative
                  cursor: pointer

                  
                .block
                  &:not(.range-block)
                    margin-top: 25px
                  
                  &.range-block
                    position: relative
                    .range-line
                      position: absolute
                      left: 0
                      height: 3px
                      width: 100%
                      margin-top: 33px
                      background-image: url('../img/range.svg')
                      background-size: cover
                      background-position: center
                      background-repeat: no-repeat

                  .irs--big
                    width: calc( 100% - 6px )
                    margin: auto
                    .irs-min,.irs-max
                      background: none
                      border-radius: 0
                      +g-r-13
                      color: $black 
                    .irs-from, .irs-to
                      background: none
                      border-radius: 0
                      +g-r-13
                      color: $black_2 
                      padding: 0
                  
                    
                    .irs-single
                      background: $black
                      border-radius: 0
                      +g-r-13
                      color: $white
                      
                    .irs-line
                      top: 33px
                      height: 3px
                      background: none
                      background-color: rgba(44, 52, 62, 0.4)
                      opacity: .1
                      border-radius: 3px
                      box-shadow: none
                    
                    .irs-bar
                      top: 33px
                      height: 3
                      background-color: $black_2
                      box-shadow: none
                      border-radius: 3px
                    
                    .irs-handle
                      background: $blue_1
                      top: 25px
                      width: 20px
                      height: 20px
                      border: none
                  
                  .label_box
                    display: grid
                    grid-gap: 25px
                    .label_single
                      input:checked,
                      input:not(:checked) 
                        position: absolute
                        left: -9999px

                      input:checked + .label_project,
                      input:not(:checked) + .label_project
                        position: relative
                        cursor: pointer
                        line-height: 20px
                        display: inline-block
                        color: #666
                      
                      input:checked + .label_project:before,
                      input:not(:checked) + .label_project:before 
                          content: ''
                          position: absolute
                          left: 0
                          right: 0
                          top: 1px
                          width: 14px
                          height: 14px
                          border: .6px solid $black_2
                          border-radius: 3px
                          background: $aside_back
                      
                      input:checked + .label_project:after,
                      input:not(:checked) + .label_project:after 
                          content: ''
                          width: 10px
                          height: 10px
                          background: $blue_1
                          position: absolute
                          left: 2px
                          top: 3px
                          right: 0
                          border-radius: 2px
                          -webkit-transition: all 0.2s ease
                          transition: all 0.2s ease
                      
                      input:not(:checked) + .label_project:after 
                          opacity: 0
                          -webkit-transform: scale(0)
                          transform: scale(0)
                      
                      input:checked + .label_project:after 
                          opacity: 1
                          -webkit-transform: scale(1)
                          transform: scale(1)
                      
                      .label_project
                        margin-bottom: 0
                        padding-left: 20px
                        +g-r-13
                        color: $black_2

      .same_bottom_container
        margin-top: 70px
        position: relative

    .swiper-container
      .swiper-wrapper
          &.disabled
            transform: translate3d(0px, 0, 0) !important
        
        