@media (min-width: 1420px)
  .container
    max-width: 1400px
  section
    .paint_box
      display: flex
      flex-direction: column
      padding-top: 26px
      border: 1px solid #F1F1F1
      border-radius: 4px
      .paint_img
        margin: 0 auto
        max-width: 165px
        height: 158px

        img
          width: 100% 
      
      .paint_desc
        padding: 0 26px
        margin: 6px 0 4px
        .paint_firm
          +g-m-18
          color: $black_2
          word-break: break-word
        
        .paint_name
          +g-m-15
          margin: 2px 0
          word-break: break-word
        
        .paint_type
          +g-r-10
          color: $gray
          word-break: break-word
      
      .paint_prices
        display: flex
        justify-content: space-between
        margin-top: auto
        .price_box
          width: 100%
          padding: 6px 0 6px 26px
          display: flex
          grid-gap: 3px
          align-items: flex-start
          background: rgba(241, 241, 241, 0.3)
          border-radius: 4px
          p.current_price
            +g-b-20
            color: $black_2
            word-break: break-word
          
          p.old_price
            position: relative
            +g-r-13
            color: $black_2
            opacity: .7
            word-break: break-word
            &::after
              content: ''
              position: absolute
              width: 100%
              height: 1px
              left: 0
              top: 6px
              background-color: $blue_1
        
        button.paint_basket
          +flex_2
          background-color: $blue_2
          border-radius: 4px

  .about_blog_inner 
    .about_text_container 
      .blog_bottom_container 
        .blog_single
          grid-gap: 120px

  .mutual_delivery_info_box
    .mutual_delivery_single
      padding: 29px 65px 35px 40px !important

@media (min-width: 1200px)

  .container
    max-width: 1200px

  section
    
    .same_grid_boxes
      grid-gap: 15px
    
    .main_section_container
      .repeat_main_container
          .filter_grid
            .paint_main_grid
              .paints_grid
                grid-gap: 30px

    .paint_box
      padding-top: 28px
      
      .heart
        top: 8px
        right: 11px

      .paint_img
        margin: 0 auto
        max-width: 139px
        height: 133px
        img
          width: 100%
      
      .paint_desc
        padding: 0 21px
        margin: 13px 0 10px
        .paint_firm
          +g-m
          font-size: 17px
          line-height: 21px
        
        .paint_name
          +g-m
          font-size: 12px
          line-height: 14px
          margin: 3px 0 1px
        
        .paint_type
          +g-r-10
      
      .paint_prices
        display: flex
        justify-content: space-between
        margin-top: auto
        .price_box
          width: 100%
          padding: 6px 0 6px 21px
          display: flex
          grid-gap: 3px
          align-items: flex-start
          background: rgba(241, 241, 241, 0.3)
          border-radius: 4px

  .about_blog_inner 
    .about_text_container 
      .blog_bottom_container 
        .blog_single
          grid-gap: 80px
      
@media (max-width: 1200px)
  section.project_inner 
    .project_inner_container 
      .project_top_container 
        .project_inner_detail 
          .project_name
            font-size: 40px
            line-height: 40px
          .project_inner_middle 
            .project_adding_info_rating
              flex-wrap: wrap
              grid-gap: 20px

  section.basket 
    .basket_main_container
      margin-bottom: 60px 
      .basket_grid
        grid-template-columns: 1fr
        grid-gap: 60px

  header 
    .header_main_container 
      .header_middle_container 
        .header_middle_box 
          nav
            a
              font-size: 18px
              line-height: 22px
  
  footer 
    .footer_main_container
      .footer_top_container
        grid-template-columns: repeat(5,1fr)
      .footer_middle_container
        grid-template-columns: 1fr 1fr 1fr
      
      .footer_bottom_container
        grid-template-columns: repeat(4,1fr)

  section
    
    &.index 
      .main_section_container
        .index-landing 
          .landing_left 
            .left_absolute
                
              left: 0
              width: 100%
              padding: 0 25px
               
          .landing_right 
            .right_rectangular
              &:nth-of-type(1) , &:nth-of-type(2)
                p.header_rec
                  margin-top: 0
        .same_bottom_container
          &:not(:first-child)
            margin-bottom: 100px
          
          &.colors_box_container 
            .img_grid_main
              grid-gap: 50px
              .colored_buttons 
                div.colored_box 
                  a
                    font-size: 18px
                    line-height: 24px 
          
          .same_img_boxes
            margin-bottom: 30px 
            .swiper-slide-img
              height: 300px 
          
          .swiper_4_boxes
            grid-template-columns: 1fr 250px 
            .four_swiper 
              .swiper-wrapper.disabled
                grid-template-columns: repeat(3,1fr)
              
              .swiper
            
            .column-right
              .column_inner_box
                height: 100%
                .column_img
                  height: 100%
                  img
                    height: 100%

    &.contact 
      .contact_main_container 
        .contact_grid_box
          grid-template-columns: 1fr 2fr
          grid-gap: 40px
          .contact_right
            padding: 30px 75px
          .contact_left 
            .same_contact_text
              font-size: 22px
              line-height: 26px
            .contact_same
              grid-gap: 25px

    &.catalog 
      .catalog_main_container 
        .catalog_info_container 
          .cat_desc
            margin: 16px 0
            font-size: 15px
            line-height: 23px
          .catalog_box
            grid-template-columns: repeat(5,1fr )
            margin-bottom: 80px

    .pay_main_container
      form
        margin-bottom: 80px
        .form_title
          font-size: 18px
          line-height: 22px
          margin-bottom: 16px 
        .contact_form_container 
          .middle_fraction_container
            grid-template-columns: 1fr
            grid-gap: 50px
            margin-top: 50px
          .fraction-form
            padding-bottom: 0
            margin-bottom: 0 
            .contact_form_box
              width: 100%
              grid-gap: 35px
        
        .form-result-main-container
          margin-top: 70px

    .same_blue_title
      font-size: 19px
      line-height: 36px
    
    .mutual_title
      font-size: 18px
      line-height: 22px

    .mutual_delivery_info_box 
      .mutual_delivery_single
        padding: 27px 35px 

    &.company 
      .company_main_container 
        .swiper-container
          margin: 16px 0 55px
        
    &.delivery
      .delivery_main_container
        margin-bottom: 80px
        .pay_info_condition
          margin-top: 16px
        .delivery_desc
          font-size: 16px
          line-height: 26px
          margin: 15px 0
          max-width: 100%
        .mutual_delivery_info_box 
          .mutual_delivery_single 
            .mutual_heading
              margin-bottom: 9px
            
            p.delivery_head_text
              font-size: 17px
              line-height: 21px
    
    &.delivery.pay_info 
      .delivery_main_container 
        .mutual_delivery_info_box 
          .mutual_delivery_single:first-child 
            .mutual_heading
              margin-bottom: 35px
              flex-direction: column
              align-items: flex-start
              grid-gap: 19px
              .left_heading_container
                grid-gap: 8px 
                .heading_desc
                  font-size: 18px
                  line-height: 22px
    
    &.fag 
      .fag_main_container
        margin-bottom: 85px 
        .fag_desc
          margin: 10px 0 19px
          max-width: 100%
          font-size: 15px
          line-height: 25px
        .fag_accordion
          #accordion 
            li 
              .link
                padding: 29px 20px 15px 30px
                .link_accordion
                  font-size: 18px
                  line-height: 26px

            .submenu
              padding: 0 50px 13px 30px 
              .submenu_inner
                font-size: 17px
                line-height: 25px

    &.about_blog_inner 
      .img-container-1600
        margin: 17px 0 40px
        max-height: 700px
      .about_text_container 
        .about_title
          font-size: 47px
          line-height: 50px
          margin-bottom: 18px
        .blog_bottom_container
          margin-bottom: 80px
          .blog_single
            grid-template-columns: repeat(2,1fr )
            grid-gap: 25px
            .blog_left_img
              img
                width: 100%
            .blog_right_container 
              .blog_right_title
                font-size: 22px
                line-height: 26px
              .blog_right_content
                font-size: 16px
                line-height: 22px
                margin: 10px 0
        .column_2
          margin-bottom: 70px
    
    .blog_main_container
      width: 100%
      .blog_galery_container
        width: 100%
        &.galery_paint_container 
          .galery_main_boxes
            grid-gap: 35px 20px !important
        padding-bottom: 57px
        .see_more
          margin: 30px auto 0

    .galery_main_boxes
      width: 100% 
      .galery_same_box
        width: 100%
        .galery_img
          height: 200px
          img
            padding: 10px 
    
    &.favourites 
      .favourites_main_container 
        .favourites_boxes
          grid-template-columns: repeat(4,1fr )
          grid-gap: 25px
    
    &.search
      .search_container
        margin-bottom: 0 
        .same_grid_boxes
          grid-template-columns: repeat(4,1fr )
          grid-gap: 25px
    
    &.notFound 
      .main_section_container 
        .inner_404
          padding: 70px 0 270px
          .notFound_img
            max-width: 700px
          .brush
            right: 50px
            top: 273px

    .heading_container_same
      margin: 22px 0 
      p.title_same_heading
        font-size: 28px
        line-height: 30px
    
    .main_section_container
      .repeat_section_links 
        .hovered_links 
          .link_child
            grid-gap: 15px
            .row_child
              .submenu_inner
                padding: 10px 15px !important
                grid-gap: 8px
                a
                  &:not(:last-child)
                    padding-bottom: 8px
          .link_parent
            width: unset
            margin: 0 !important
            flex: 1
            &:hover
              .main_link
                font-size: 14px
            .main_link
              font-size: 14px
              padding: 10px 10px 15px
            &:hover
              margin-right: 0 !important
              width: unset !important
      .repeat_main_container
        padding-bottom: 90px
        .filter_grid
          .paint_main_grid
            .paints_grid
              grid-template-columns: repeat( 3 ,1fr )
              grid-gap: 35px
          
          aside
            min-width: 285px
    
    #imgShow
      .modal-dialog
        .modal-content
          .modal-img
            padding: 45px 0
            img
              height: 300px
              max-height: 350px
  
@media (min-width: 991px)
  section
    &.index 
      .main_section_container 
        .same_bottom_container
          .swiper_4_boxes 
            .four_swiper 
              .swiper-wrapper 
                .swiper-slide
                  margin-right: 0 !important

@media (max-width: 991px)
  section.project_inner 
    .project_inner_container 
      .project_inner_table_info 
        .project_inner_heading
          grid-template-columns: 1fr 1fr
        .project_inner_body 
          .project_body_row
            grid-template-columns: 1fr 1fr

  #addBasket 
    .modal-dialog 
      .modal-content 
        .modal-header 
          h5
            font-size: 25px !important
            line-height: 30px !important
  
  .basket_single_box 
    .basket_left
      grid-gap: 16px 19px
      grid-template-columns: min-content 1fr
      .basket_product_img
        height: 100%
        grid-row-start: 1
        grid-row-end: 3
      .basket_product_info
        display: flex
        flex-direction: column
        grid-gap: 4px
        .basket_product_name 
          p
            font-size: 21px
            line-height: 25px
        .basket_product_code
          display: unset 

  .breadcrumbs
    margin-top: 43px !important

  a.see_all
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    width: max-content
    bottom: -40px
  
  header 
    .header_main_container 
      .header_top_container
        display: none
      .header_middle_container
        padding: 38px 0 62px
      .header_middle_container 
        .header_middle_box
          grid-gap: 15px
          a.logo
            font-size: 45px
            line-height: 50px 
          nav
            display: none
          
          .hamburger
            display: block
            margin-left: auto
          
          form
            grid-column-start: 1
            grid-column-end: 3
            height: 40px
            &::before
              width: 16px
              height: 16px
              left: 16px
              top: 13px
              background-size: cover
            input , button
              height: 40px
            
            input
              padding: 0 55px 0 45px

  .tool_bar_mobile
    display: flex !important

  section
    &.index 
      .main_section_container
        .index-landing
          display: grid
          grid-template-columns: 1fr
          .landing_right
            .landing-absolute-right-icons
              
            .right_rectangular
              padding: 30px 20px 20px
              min-height: 190px
              p.header_rec
                font-size: 22px
                line-height: 26px
              p.discount_rec
                font-size: 52px
                line-height: 56px
          
          .landing_left
            height: 450px
            > img
              height: 100%
              border-radius: 30px 30px 0 0
            .left_absolute 
              .heading_left
                font-size: 35px
                line-height: 42px
            
            &::after
              border-radius: 30px 30px 0 0
                
        .same_bottom_container
          margin-top: 30px 
          .same_img_boxes
            margin-bottom: 25px 
            .swiper-slide-img
              height: 250px
          
          .swiper_4_boxes
            flex-direction: column
            grid-gap: 25px
            
            .column-right
              height: 250px
              order: 1
              min-width: unset
              width: 100%
              .column_inner_box
                height: 100%
                .column_img
                  height: 100%
                  img
                    height: 100%

            .swiper-container
              order: 2

          &.form-swiper
            .swiper_4_boxes
              flex-direction: column-reverse
              .column-right
                height: 100%
                width: 100%
                .column_form_container
                  padding: 22px 25px
                  .column_form_header
                    font-size: 25px
                    line-height: 31px
                  
                  .column_form_content
                    font-size: 13px
                    margin: 6px 0

                  form
                    grid-gap: 8px
                    button
                      min-width: 84px
                  
                  .form_img
                    margin: 16px 0 0
                    height: 209px
                    img
                      height: 100%
      
      .repeat_main_container
        padding-bottom: 17px !important

    &.contact 
      .contact_main_container 
        .contact_grid_box
          grid-template-columns: 1fr 
          grid-gap: 35px
          margin: 16px 0 62px
          .contact_right
            padding: 22px 25px
            form#contact_form 
              .form-group 
                textarea
                  height: 150px
          .contact_left
            grid-gap: 44px
            .phones
              grid-gap: 9px
              height: 100%
              align-items: center 
            .same_contact_text
              font-size: 20px
              line-height: 24px
            .contact_same
              grid-gap: 21px

    &.catalog 
      .catalog_main_container 
        .catalog_info_container 
          .cat_desc
            font-size: 14px
            line-height: 22px
          .catalog_box
            grid-template-columns: repeat(4,1fr )
            margin-bottom: 75px
            .catalog_same p
              font-size: 16px

    .pay_main_container 
      form
        margin-bottom: 70px 
        .contact_form_container
          .form_title
            font-size: 16px
            line-height: 20px
            margin-bottom: 12px
            &::after
              top: 0 !important
          .middle_fraction_container
            grid-template-columns: 1fr
            grid-gap: 50px
            margin-top: 50px
          .fraction-form
            padding-bottom: 0
            margin-bottom: 0 
            .contact_form_box
              width: 100%
              grid-gap: 35px
        
        .form-result-main-container
          margin-top: 70px

    .same_blue_title
      font-size: 16px
      line-height: 25px
    
    .mutual_title
      font-size: 16px
      line-height: 20px

    .mutual_delivery_info_box 
      .mutual_delivery_single
        padding: 27px 25px 

    &.company 
      .company_main_container
        margin-bottom: 70px 
        .swiper-container
          margin: 16px 0 40px
        
        .company_boxes
          width: 100%
          .company_single_box 
            .company_one_box
              grid-template-columns: repeat(3,1fr )
              grid-gap: 20px
              margin-bottom: 35px

    &.delivery
      .delivery_main_container
        margin-bottom: 75px
        .delivery_desc
          font-size: 15px
          line-height: 24px
          margin: 12px 0
        .mutual_delivery_info_box
          margin-top: 9px 
          .mutual_delivery_single 
            p.delivery_text
              font-size: 16px
              line-height: 24px
            
            p.delivery_head_text
              font-size: 16px
              line-height: 20px
              margin: -1px 0 12px

    &.delivery.pay_info 
      .delivery_main_container 
        .mutual_delivery_info_box 
          .mutual_delivery_single:first-child 
            .mutual_heading
              margin-bottom: 25px
              .left_heading_container 
                .heading_desc
                  font-size: 16px
                  line-height: 20px

    &.fag 
      .fag_main_container
        margin-bottom: 75px 
        .fag_desc
          font-size: 13px
          line-height: 23px
        .fag_accordion
          #accordion 
            li
              padding-bottom: 14px 
              .link
                padding: 29px 18px 11px 27px
                .link_accordion
                  font-size: 17px
                  line-height: 25px

            .submenu
              padding: 0 40px 0 27px 
              .submenu_inner
                font-size: 17px
                line-height: 25px
    
    &.about_blog_inner 
      .img-container-1600
        margin: 17px 0 35px
        max-height: 600px
      .about_text_container
        .blog_bottom_container
          margin-bottom: 75px
          .blog_single
            .blog_left_img
              height: 250px
            .blog_right_container 
              .blog_right_title
                font-size: 20px
                line-height: 24px
              .blog_right_content
                font-size: 15px
                line-height: 21px
                margin: 10px 0 
        .about_title
          font-size: 43px
          line-height: 48px
          margin-bottom: 15px
        
        .column_2
          margin-bottom: 60px
          column-count: 1

    .blog_main_container
      .blog_galery_container
        .see_more
    
    .galery_main_boxes
      grid-gap: 10px !important
      .galery_same_box
        grid-gap: 12px
        &:hover
          .galery_img
            img
              padding: 8px

        .galery_title 
          p
            font-size: 18px
            line-height: 21px

        .galery_img
          height: 150px
          img
            padding: 10px

    &.favourites 
      .favourites_main_container 
        .favourites_boxes
          grid-template-columns: repeat(3,1fr )
          grid-gap: 25px
          margin-bottom: 70px
    
    &.notFound 
      .main_section_container 
        .inner_404
          padding: 70px 0 120px
          .notFound_img
            max-width: 500px
          p.not_found_text
            line-height: 21px
            line-height: 25px
          .brush
            width: 120px
            right: 70px
            top: 213px
            img
              width: 100% 

    &.search
      .search_container 
        .same_grid_boxes
          grid-template-columns: repeat(3,1fr )
          grid-gap: 25px
    
    .filter
      display: block
    
    .heading_container_same
      margin: 18px 0 
      p.title_same_heading
        font-size: 25px
        line-height: 28px 

    .main_section_container
      .repeat_section_links
        display: none
      .repeat_main_container
        .filter_grid 
          .paint_main_grid
            grid-gap: 35px 
            .paints_grid
              grid-gap: 25px
              
            
          aside
            position: absolute
            right: 0
            top: 0
            opacity: 0
            visibility: hidden
            pointer-events: none
            transition: opacity .5s
            width: 295px
            padding: 50px 25px
            border-radius: 8px
            height: max-content
            form
              max-height: calc(100vh - 160px)
              overflow-y: auto
              padding-right: 15px


            &.open
              opacity: 1
              pointer-events: auto
              visibility: visible
              display: flex
              flex-direction: column
              align-items: flex-start
              grid-gap: 35px
              

              button.esc
                display: block

    .paint_box
      padding-top: 25px
      .paint_img
        max-width: 135px
        height: 130px
      .paint_desc
        padding: 0 21px
        .paint_firm
          font-size: 16px
          line-height: 19px
        
        .paint_name
          font-size: 12px
          line-height: 16px
      
      .paint_prices 
        .price_box
          padding: 7px 0 7px 21px
          justify-content: center
    
    #imgShow
      .modal-dialog
        max-width: 600px
        .modal-content
          .modal-img
            padding: 35px 0
            img
              height: 250px
              max-height: 300px

  footer
    padding: 50px 0 96px 
    .footer_main_container
      .footer_logo
        display: block
        margin-bottom: 21px
      .footer_top_container
        display: none
      .footer_middle_container
        display: none

@media (max-width: 768px)
  section.project_inner 
    .project_inner_container 
      .same_bottom_container
        padding: 0 !important
      .project_top_container
        grid-template-columns: 1fr
        grid-gap: 15px
        .swiper-pagination
          grid-row: 2
        .swiper-container 
          .swiper-wrapper 
            .swiper-slide
              padding: 25px 10px
              .project_loop_box 
                max-height: 200px
                img
                  height: 100%
        
        .one_img_box
          padding: 25px 10px
          img
            max-height: 200px

        .project_inner_detail
          position: relative
          margin-top: 15px
          .project_inner_middle 
            .project_size_box
              margin-bottom: 20px
              .size_grid
                grid-gap: 7px
          .project_name
            font-size: 30px
            line-height: 30px
            margin-bottom: 10px
          
          .project_inner_middle
            display: flex
            flex-direction: column
            .project_inner_numbers
              margin: 0 0 12px
              grid-gap: 10px 40px
            .project_inner_operation
              order: 3
              margin: 15px 0
            .project_adding_info_rating
              order: 1 
              display: grid
              grid-template-columns: auto auto
              justify-content: unset
              grid-gap: 20px
              width: max-content
              .same_inner_box
                &:last-child
                  position: absolute
                  width: max-content
                  right: 0
                  top: 6px
                  p
                    display: none
                .little_img
                  width: 21px
                  height: 17px
                  img
                    width: 100% 
              .feedback_rating
                grid-row: 2
          
          .project_inner_btns
            width: 100%
      
      .project_inner_tab_container
        margin-top: 44px
        .simplebar-track
          right: 12px
        .tab-content
          &::before
            height: 13px 
          .tab-pane
            padding: 13px 22px
            p
              font-size: 15px
              line-height: 22px
        nav
          margin: 0
          .nav-tabs
            flex-direction: column
            .nav-link
              padding: 5px 10px !important
              height: 38px
              +flex_2
              font-size: 16px
              line-height: 20px
              border-radius: 4px !important
      
      .project_inner_table_info
        padding: 50px 0 
        .project_inner_heading
          grid-template-columns: 2fr 1fr
          padding: 17px 20px
          p
            font-size: 15px
            line-height: 19px
        .project_inner_body 
          .project_body_row
            grid-template-columns: 2fr 1fr
            padding: 11px 20px
            p
              font-size: 13px
              line-height: 16px
  
  #addBasket
    padding: 0 25px !important 
    .modal-dialog
      .modal-content
        .modal-body
          margin: 10px 0 !important
        .modal-header 
          padding: 0 !important
          h5
            font-size: 22px !important
            line-height: 26px !important

  .basket_single_box
    grid-template-columns: 1fr 
    .basket_left
      grid-gap: 16px 19px
      grid-template-columns: min-content 1fr
      .basket_product_operation 
        .basket_count_box
          width: 94px
          padding: 10px
      .basket_product_img
        height: 100%
        grid-row-start: 1
        grid-row-end: 3
      .basket_product_info
        display: flex
        flex-direction: column
        .basket_product_name 
          p
            font-size: 17px
            line-height: 21px
        .basket_product_code
          font-size: 12px 
    .delete
      grid-row: 1
      display: flex
      justify-content: flex-end
      padding-top: 0 !important

  a.see_all
    font-size: 14px !important
  
  .header_overlay 
    .overlay_loop 
      .overlay_heading 
        > a
          font-size: 35px
          line-height: 40px
  
  header 
    .header_main_container 
      .header_middle_container 
        .header_middle_box 
          a.logo
            font-size: 35px
            line-height: 40px
  
  section
    &.index 
      .main_section_container
        .index-landing
          .landing_right
            .landing-absolute-right-icons
              a
                width: 54px
                height: 54px
                img
                  width: 25px
                  height: 25px
                  margin: 2px 0 0 3px

            .right_rectangular
              padding: 30px 15px 25px
              p.header_rec
                font-size: 18px
                line-height: 22px
              p.discount_rec
                font-size: 40px
                line-height: 44px
                padding: 0
          
          .landing_left
            height: 400px
            .left_absolute
              bottom: unset
              top: 50px 
              max-width: 365px
              left: 25px
              padding: 0
              .heading_left
                font-size: 33px
                line-height: 40px
              .content_left
                font-size: 13px
                margin: 20px 0 27px
              
              .see_more
                margin-top: 0 !important


        .same_bottom_container
          &.colors_box_container 
            .img_grid_main
              grid-gap: 50px
              .imgages_paint_galery
                display: none
              .colored_buttons
                width: 100% 
                display: grid
                grid-template-columns: 1fr 1fr
                grid-gap: 10px 20px 
                div.colored_box
                  width: 100%
                  &:hover
                    a
                      border-radius: 12px
                  &::after
                    width: 100%
                    border-radius: 12px
                  &:nth-of-type(1)
                    &::after
                      background-color: $orange 
                  &:nth-of-type(2)
                    &::after
                      background-color: $green 
                  &:nth-of-type(3)
                    &::after
                      background-color: $blue_6 
                  &:nth-of-type(4)
                    &::after
                      background-color: $blue_7 
                  &:nth-of-type(5)
                    &::after
                      background-color: $purple 
                  &:nth-of-type(6)
                    &::after
                      background-color: $pink 
                  a
                    width: 100%
                    font-size: 15px
                    line-height: 27px
                    z-index: 88
                    color: $white
                    border-radius: 12px 
                    height: 73px

          .same_img_boxes
            margin-bottom: 20px 
            .swiper-slide-img
              height: 200px

          .swiper_4_boxes
            grid-template-columns: 1fr
            grid-gap: 20px
            
            .column-right
              height: 200px
              .column_inner_box
                height: 100%
                .column_img
                  height: 100%
                  img
                    height: 100%
    
    &.contact 
      .contact_main_container 
        .contact_grid_box
          .contact_right
            form#contact_form 
              .form-group 
                textarea
                  height: 150px
          .contact_left
            grid-gap: 44px
            
            .same_contact_text
              font-size: 17px
              line-height: 22px

    &.catalog 
      .catalog_main_container 
        .catalog_info_container 
          .cat_desc
            font-size: 13px
            line-height: 21px
          .catalog_box
            grid-template-columns: repeat(4,1fr )
            margin-bottom: 65px
            .catalog_same
              .catalog_one
                height: 65px 
              p
                position: relative
                font-size: 12px
                line-height: 25px
                bottom: 0
                color: rgba(44, 52, 62, 0.97) !important

    .pay_main_container 
      form
        margin-bottom: 65px 
        .contact_form_container
          .form_title
            font-size: 15px
            line-height: 18px
          .middle_fraction_container
            grid-template-columns: 1fr
            grid-gap: 50px
            margin-top: 50px
            
          .fraction-form
            padding-bottom: 0
            margin-bottom: 0
            .delivery_label
              margin-top: 18px !important
              p
                font-size: 16px !important
                line-height: 21px !important
            .contact_form_box
              grid-template-columns: 1fr
              grid-gap: 15px
            &.radio-fraction
              .contact_form_box
                .form-group
                  display: flex
                  .form-label
                    flex: 1
                    input:checked + .label-main:before,
                    input:not(:checked) + .label-main:before
                      bottom: 3px
                      width: 10px
                      height: 10px
                      border-radius: 2px
                    input:checked + .label-main:after,
                    input:not(:checked) + .label-main:after 
                      bottom: 5px
                      width: 6px
                      height: 6px
                      border-radius: 2px
                    label
                      padding: 15px 10px 
                      .label-img
                        img
                          width: 65px
                          height: 65px
                      
                      p
                        margin: 20px 0 5px
                        font-size: 10px

            .contact_form_box
              width: 100%
        
        .form-result-main-container
          padding: 30px 15px
          .form_result_box
            width: 100%
            grid-template-columns: 1fr
            grid-gap: 35px
          
            .info_form_container
              max-width: 100%
              grid-gap: 12px
              .title_result_form
                margin-bottom: 5px
              .count_form_box
                padding-bottom: 12px

            
            .result_form_container
              .box_summary
                margin-bottom: 10px

    &.company 
      .company_main_container 
        .swiper-container
          margin: 16px 0 20px
        .company_boxes
          width: 100%
          .company_single_box 
            .company_one_box
              grid-template-columns: repeat(2,1fr)
              margin-bottom: 30px

    &.about_blog_inner 
      .img-container-1600
        margin: 17px 0 30px
        max-height: 500px
      .about_text_container
        .blog_bottom_container
          grid-gap: 28px
          margin-bottom: 70px
          .blog_single
            grid-template-columns: 1fr
            .blog_left_img
              height: 230px
            &:not(:last-child)
              padding-bottom: 28px
              
            .blog_right_container 
              .blog_right_title
                font-size: 18px
                line-height: 22px
              .blog_right_content
                font-size: 14px
                line-height: 18px
              .see_more
                margin-top: 0 !important 
                min-width: 192px

        .about_title
          font-size: 41px
          line-height: 44px
          margin-bottom: 12px
        
        .column_2
          margin-bottom: 50px

    .blog_main_container
      .blog_galery_container
        .see_more

    .galery_main_boxes
      .galery_same_box
        grid-gap: 8px !important
        .galery_title 
          p
            font-size: 16px
            line-height: 19px
        .galery_img
          height: 120px
          img
            padding: 8px
    
    &.favourites 
      .favourites_main_container 
        .favourites_boxes
          margin-bottom: 62px
          grid-gap: 20px
          grid-template-columns: repeat(2,1fr )
          .favourite_single
            display: flex
            flex-direction: column-reverse
            align-items: flex-end
            grid-gap: 10px
            
            button
              margin-top: 0 !important
    
    &.notFound 
      .main_section_container 
        .inner_404
          padding: 70px 0 105px
          .notFound_img
            max-width: 400px
          p.not_found_text
            font-size: 17px
            line-height: 20px
          .brush
            width: 100px
            right: 35px
            top: 185px
            img
              width: 100%

    .see_more
      width: 173px
      margin-top: 25px !important
    
    .paint_box
      padding-top: 21px !important
      width: 100% !important
      .heart
        top: 7px !important
      .paint_img
        max-width: 135px !important
        height: 130px !important
      .paint_desc
        padding: 0 16px !important
      
      .paint_prices 
        .price_box
          padding: 7px 0 7px 16px !important
    
    .repeat_main_container
      padding-bottom: 70px !important
      .filter_grid
        .paint_main_grid
          grid-gap: 30px !important
          .paints_grid
            grid-template-columns: repeat(2 ,1fr ) !important
            grid-gap: 25px
            
    .heading_container_same
      margin: 15px 0 
      p.title_same_heading
        font-size: 23px
        line-height: 26px

    #imgShow
      .modal-dialog
        max-width: 500px
        .modal-content
          .modal-img
            padding: 30px 0
            img
              height: 200px
              max-height: 250px

  footer 
    .footer_main_container
      .footer_bottom_container
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        >a
          &:nth-of-type(1) , &:nth-of-type(2)
            display: none

@media (max-width: 576px)

  section.project_inner 
    .project_inner_container 
      padding: 0 25px
      .project_top_container
        .project_inner_detail
          .project_name
            font-size: 25px
            line-height: 25px
          .project_inner_middle
            display: flex
            flex-direction: column
            .project_inner_numbers
              margin: 0 0 12px
              p
                font-size: 16px !important
                line-height: 19px !important
      
  section.basket
    footer
      padding-bottom: 181px 
    .basket_main_container
      padding: 0 25px 
      .basket_grid 
        .result_box
          position: fixed
          left: 0
          width: 100%
          bottom: 76px
          display: flex
          align-items: center
          justify-content: space-between
          grid-gap: 25px
          padding: 17px 25px
          a
            height: 38px
            font-size: 15px
            line-height: 18px
            max-width: 200px
            margin-top: 0
          .title_total_box
            justify-content: flex-start
            .line_delivery
              display: none
            .delivery_box
              margin-top: 14px
              p
                &.content
                  font-size: 12px
                  line-height: 12px
                &.delivery_price
                  margin-left: 14px
                  font-size: 11px
                  line-height: 11px
                  span
                    font-size: 12px
                    line-height: 12px
            .heading
              font-size: 10px
              line-height: 12px
              margin-bottom: 2px
              text-align: left
            >p
              font-size: 20px
              line-height: 26px
              align-items: center
              justify-content: flex-start
              grid-gap: 2px
              span
                font-size: 20px
                line-height: 26px

  #addBasket 
    .modal-dialog 
      .modal-content
        padding: 30px 0 !important 
        .modal-header 
          padding: 0 15px !important
          h5
            font-size: 20px !important
            line-height: 24px !important
        .modal-footer
          padding: 0 15px !important
          grid-template-columns: 1fr !important
          grid-gap: 10px !important

  .basket_single_box
    grid-template-columns: 1fr 
    .basket_left
      padding: 20px 15px
      .basket_product_operation 
        .basket_count_box
          width: 94px
          padding: 10px
      .basket_product_img
        height: 100%
        grid-row-start: 1
        grid-row-end: 3
        width: 110px
      .basket_product_info
        padding: 0 !important
        .basket_product_name 
          p
            font-size: 15px
            line-height: 18px
        
    .delete
      padding-right: 15px !important

  header 
    .header_main_container 
      .header_middle_container 
        padding: 38px 25px 62px
        .header_middle_box
          form
            button
              width: 112px

  section
    &.index 
      .main_section_container
        .index-landing
          .landing_right
            display: grid
            grid-template-columns: 1fr 1fr
            .landing-absolute-right-icons
              a
                width: 42px
                height: 42px
                img
                  width: 18px
                  height: 18px
                  margin: 2px 0 0 3px
            .right_rectangular
              padding: 30px 15px 25px
              
              p.header_rec
                font-size: 15px
                line-height: 18px
                max-width: 150px
                width: unset
              p.discount_rec
                font-size: 30px
                line-height: 35px
              a.link_rec
                font-size: 12px

              &:nth-of-type(1),&:nth-of-type(2) 
                a.link_rec
                  margin-top: 5px
          
          .landing_left
            height: 320px
            .left_absolute
              bottom: unset
              top: 50px 
              max-width: 100%
              left: 0
              padding: 0 25px
              .heading_left
                font-size: 30px
                line-height: 35px
              
              a.see_more
                width: 152px !important

        .same_bottom_container
          &.colors_box_container , &.galeryBox
            padding: 0 25px 
          .same_img_boxes
            margin-bottom: 15px 
            .swiper-slide-img
              padding-right: 25px
              height: 120px
              img
                border-radius: 9px

          .swiper_4_boxes
            grid-template-columns: 1fr
            grid-gap: 15px
            
            .column-right
              height: 120px
              padding-right: 25px
              .column_inner_box
                height: 100%
      
    &.contact 
      .contact_main_container
        .breadcrumbs
          padding: 0 25px
        .contact_left
          padding: 0 25px 
        .contact_grid_box
          .contact_left
            .same_contact_text
              font-size: 15px
              line-height: 18px

    &.catalog 
      .catalog_main_container
        padding: 0 25px 
        .catalog_info_container 
          .cat_desc
            font-size: 11px
            line-height: 17px
          .catalog_box
            margin-bottom: 53px
            .catalog_same
              .catalog_one
                height: 46px 
              
    .pay_main_container
      padding: 0 25px 
      form
        margin-bottom: 62px 
        .contact_form_container
            
          .fraction-form
              
            .contact_form_box
              grid-template-columns: 1fr
              grid-gap: 15px
            &.radio-fraction
              .form-group
                grid-gap: 10px
              .contact_form_box
                .form-group
                  display: flex
                  .form-label
                    label
                      padding: 15px 8px 
                      .label-img
                        img
                          width: 53px
                          height: 53px
                      
                      p
                        margin: 17px 0 5px
                        font-size: 10px

            .contact_form_box
              width: 100%
        
        .form-result-main-container
          padding: 30px 15px
          .form_result_box
            width: 100%
            grid-template-columns: 1fr
            grid-gap: 35px
          
            .info_form_container
              max-width: 100%
              grid-gap: 12px
              .title_result_form
                margin-bottom: 5px
              .count_form_box
                padding-bottom: 12px

            
            .result_form_container
              .box_summary
                margin-bottom: 8px
                .title_summary
                  font-size: 18px

    .same_blue_title
      font-size: 12px
      line-height: 21px
    
    .mutual_title
      font-size: 15px
      line-height: 22px

    &.company 
      .company_main_container
        padding: 0 25px
        margin-bottom: 62px 
        .swiper-container
          margin: 16px 0 8px
          padding-bottom: 17px
          .swiper-slide 
            .swiper-img
              height: 120px 
              img
                height: 100%

          .swiper-pagination
            grid-gap: 11px
            .swiper-pagination-bullet
              width: 9px
              height: 9px
        .company_boxes
          width: 100%
          grid-gap: 58px
          .company_single_box 
            .company_one_box
              grid-template-columns: repeat(2,1fr)
              margin-bottom: 23px

    &.delivery
      .delivery_main_container
        margin-bottom: 62px
        padding: 0 25px
        .pay_info_condition
          margin-top: 16px
          p
            font-size: 10px
            line-height: 16px
          
          span
            margin-top: -17px
        .delivery_desc
          font-size: 12px
          line-height: 21px
          margin: 10px 0
        .mutual_delivery_info_box 
          .mutual_delivery_single 
            p.delivery_text
              font-size: 15px
              line-height: 22px
            
            p.delivery_head_text
              font-size: 15px
              line-height: 18px
              margin: -1px 0 9px

    &.delivery.pay_info 
      .delivery_main_container 
        .mutual_delivery_info_box 
          .mutual_delivery_single:first-child 
            .mutual_heading
              margin-bottom: 20px
              .left_heading_container 
                .heading_desc
                  font-size: 15px
                  line-height: 18px

              .payment_tools
                grid-gap: 12px
                div
                  img
                    width: 100%

    &.fag 
      .fag_main_container
        margin-bottom: 62px
        padding: 0 25px 
        .fag_desc
          font-size: 12px
          line-height: 21px
        .fag_accordion
          #accordion 
            li
              padding-bottom: 14px 
              .link
                grid-gap: 15px
                padding: 29px 15px 11px 25px
                .link_accordion
                  font-size: 15px
                  line-height: 22px

            .submenu
              padding: 0 45px 11px 25px 
              .submenu_inner
                font-size: 15px
                line-height: 22px

    &.about_blog_inner
      .main_section_container
        padding: 0 25px 
      .img-container-1600
        margin: 17px 0 26px
        max-height: unset
        height: 340px
      .about_text_container
        .blog_bottom_container
          margin-bottom: 62px
          .blog_single
            .blog_left_img
              height: 180px
              
            .blog_right_container 
              .blog_right_title
                font-size: 16px
                line-height: 20px
              
        .about_title
          font-size: 39px
          line-height: 43px
          margin-bottom: 7px
        
        .column_2
          margin-bottom: 45px

    .blog_main_container
      .blog_galery_container
        padding: 0 25px 57px

    .galery_main_boxes
      .galery_same_box
        grid-gap: 6px
        &:hover
          .galery_img
            img
              padding: 4px 5px 
        .galery_title 
          p
            padding: 0 5px
            font-size: 14px
            line-height: 17px
        .galery_img
          height: 105px
          img
            padding: 4px 5px
    
    &.favourites 
      .favourites_main_container 
        padding: 0 25px 

    &.notFound
      header 
        .header_middle_container
          padding-left: 25px
          padding-right: 25px 
      .main_section_container
        padding: 0 25px
        .inner_404
          padding: 70px 0 105px
          .notFound_img
            max-width: unset
            width: 100%
            height: 150px
          p.not_found_text
            font-size: 15px
            line-height: 17px
          .brush
            width: 65px
            right: 0
            top: 158px
            img
              width: 100%

    &.search
      .search_container
        margin-bottom: 0
        padding: 0 25px 
        .same_grid_boxes
          grid-template-columns: repeat(2,1fr )
          grid-gap: 20px
    
    .paint_box
      .paint_prices 
        .price_box
          justify-content: center
          p.current_price
            font-size: 17px !important
            line-height: 20px !important 
          p.old_price
            font-size: 12px !important
            line-height: 15px !important

    .same_swiper
      margin-top: 50px
      padding-left: 25px
      .heading_container_same
        padding-right: 25px
    
    .repeat_main_container
      padding-bottom: 60px !important
      .breadcrumbs
        padding: 0 25px
      .repeat_filter_box
        padding: 0 25px
      .filter_grid
        .paint_main_grid
          grid-gap: 25px !important
          .paints_grid
            grid-gap: 20px !important

    .heading_container_same
      margin: 13px 0
      grid-gap: 10px
      p.search_count, p.basket_count ,p.adding_info
        padding-left: 6px
        font-size: 15px 
      p.title_same_heading
        font-size: 20px
        line-height: 25px

    #imgShow
      .modal-dialog
        max-width: unset
        width: 100%
        .modal-content
          .modal-img
            padding: 27px 0
            img
              width: 100%
              height: 175px
              object-fit: contain
              
  footer
     padding: 28px 25px 47px
     padding-bottom: 96px
     .footer_main_container
        .footer_bottom_container
         grid-gap: 12px
         a
           font-size: 15px
           line-height: 17px
         .socials
           flex-direction: column
           align-items: flex-start
           >div
             grid-gap: 23px
             svg
               width: 28px
               height: 28px  
        .footer_author
          margin-top: 3px
          grid-gap: 10px
          p.author_law
            font-size: 10px
          .footer_company
            flex-direction: column
            grid-gap: 0
            align-items: flex-end
            .company_img
              margin-right: 29px
            p
              margin-top: -12px
              font-size: 8px

@media (max-width: 500px)
  section
     &.notFound
      header  
      .main_section_container
        .inner_404
          padding: 70px 0 105px
          .notFound_img
            max-width: unset
            width: 100%
            height: 150px
          p.not_found_text
            font-size: 15px
            line-height: 17px
          .brush
            right: -10px

@media (max-width: 400px)
  footer,
  section .repeat_main_container .repeat_filter_box,
  section .search_container,
  section.favourites .favourites_main_container,
  section .blog_main_container .blog_galery_container,
  section.fag .fag_main_container,
  section.delivery .delivery_main_container,
  section.company .company_main_container,
  section .pay_main_container,
  section.catalog .catalog_main_container,
  section.index .main_section_container .same_bottom_container.colors_box_container,
  section.index .main_section_container .same_bottom_container.galeryBox,
  header .header_main_container .header_middle_container,
  #addBasket,
  section.basket .basket_main_container .basket_grid .result_box,
  section.basket .basket_main_container,
  .header_overlay .overlay_loop,
  section.project_inner .project_inner_container,
  section.notFound .main_section_container,
  section #imgShow,
  .repeat_main_container .breadcrumbs
    padding-left: 15px !important
    padding-right: 15px !important

  .basket_single_box .basket_left .basket_product_img
    width: 100px

  .basket_single_box .basket_left .basket_product_operation
    flex-direction: column
  
  .basket_single_box .basket_left .basket_product_operation .basket_count_box
    width: 100%
  
  section .search_container .same_grid_boxes,
  section.favourites .favourites_main_container .favourites_boxes,
  section.company .company_main_container .company_boxes .company_single_box .company_one_box,
  section.catalog .catalog_main_container .catalog_info_container .catalog_box
        grid-gap: 12px !important

  section.index .main_section_container .same_bottom_container.colors_box_container .img_grid_main .colored_buttons
    grid-gap: 10px
  .aside-form
    min-width: 255px !important
    width: unset !important
  
  section.index .main_section_container .same_bottom_container .same_img_boxes .swiper-slide-img,
  section.index .main_section_container .same_bottom_container .swiper_4_boxes .column-right
    padding-right: 15px

  section.index .main_section_container .index-landing .landing_left .left_absolute
    left: 0
    padding: 0 20px
  section.project_inner .project_inner_container .project_top_container .project_inner_detail .project_inner_middle .project_inner_numbers
    display: flex
    grid-gap: 10px
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
  section.notFound .main_section_container .inner_404 .brush
    right: -14px

  section
    &.basket 
      .basket_main_container 
        .basket_grid 
          .result_box
            grid-gap: 15px
    &.about_blog_inner
      .main_section_container
        padding: 0 15px 
      .img-container-1600
        margin: 17px 0 26px
      .about_text_container 
        .about_title
          font-size: 30px
          line-height: 35px

    .blog_main_container
      .blog_galery_container
        .see_more

    .galery_main_boxes
      grid-template-columns: repeat(2,1fr )
      .galery_same_box
        .galery_img
          height: 105px
          img
            padding: 4px 5px

    .paint_box
      padding-top: 20px !important
      .paint_img
        max-width: 120px !important
        height: 120px !important
      .paint_desc
        padding: 0 10px !important
        .paint_firm
          font-size: 14px !important
          line-height: 17px !important
      
      .paint_prices 
        .price_box
          padding: 7px 0 7px 10px 
    
    .main_section_container 
      .repeat_main_container 
        .filter_grid 
          .paint_main_grid 
            .paints_grid
              grid-gap: 12px !important
      
      .same_swiper
        padding-left: 15px
        .heading_container_same
          padding-right: 15px