section.search
  .search_container
    margin-bottom: 90px
    margin-top: 27px !important
    .same_grid_boxes
      display: grid
      grid-template-columns: repeat(5,1fr )
      grid-gap: 45px 20px
    .see_more
      margin-top: 50px