// Base fonts
$g-l:  'g-l',   Arial,   sans-serif
$g-r:  'g-r',   Arial,   sans-serif
$g-m:  'g-m',  Arial,   sans-serif
$g-eb: 'g-eb',  Arial,   sans-serif
$g-b:  'g-b',   Arial,   sans-serif
$g-sb: 'g-sb',   Arial,   sans-serif
$g-t:  'g-t',   Arial,   sans-serif



// Base colors

$white:                   #ffffff
$black:                   #2C343E
$aside_back:              #F8FBFF
$table_back:              #E8F2FF
$black_2:                 rgba(44, 52, 62, 0.97)
$blue_1:                  #2F76C1
$header_1:                #2F75C1
$blue_2:                  #3A84CE
$blue_3:                  #1E538D
$blue_4:                  #2F74BF
$blue_5:                  #459BE4
$blue_hover:              #57A4F5
$link_top:                #3387D6
$border_left:             #3679C2
$component_linear:          linear-gradient(101.48deg, #2D6DB7 -10.82%, #338CDB 79.4%, rgba(53, 149, 229, 0.87) 97.59%)
$gray:                    #6F767C
$orange:                  #FFA800
$green:                   #4AE302
$blue_6:                  #02BBE3
$blue_7:                  #0152F0
$purple:                  #6502E3
$pink:                    #E302B2


// Base Flex
=flex_1
	display: flex
	align-items: center
	justify-content: space-between

=flex_2
	display: flex
	align-items: center
	justify-content: center

=flex_3
	display: flex
	flex-direction: column
	justify-content: center

=flex_4
	display: flex
	justify-content: flex-end	
	align-items: center	

=btn_default
	background: none
	outline: none
	border: none
	cursor: pointer


// Base mixin
=g-l
	font-family: $g-l
	font-weight: 400

=g-r
	font-family: $g-r
	font-weight: 400

=g-m
	font-family: $g-m
	font-weight: 400

=g-sb
	font-family: $g-sb
	font-weight: 400

=g-b
	font-family: $g-b
	font-weight: 400

=g-eb
	font-family: $g-eb
	font-weight: 400

=g-t
	font-family: $g-t
	font-weight: 400

=g-l-16
	+g-l
	font-size: 16px
	line-height: 20px

=g-m-10
	+g-m
	font-size: 10px
	line-height: 12px

=g-m-12
	+g-m
	font-size: 12px
	line-height: 14px

=g-m-13
	+g-m
	font-size: 13px
	line-height: 16px	

=g-m-14
	+g-m
	font-size: 14px
	line-height: 17px

=g-m-15
	+g-m
	font-size: 15px
	line-height: 17px

=g-m-16
	+g-m
	font-size: 16px
	line-height: 20px

=g-m-17
	+g-m
	font-size: 17px
	line-height: 22px

=g-m-18
	+g-m
	font-size: 18px
	line-height: 27px

=g-m-20
	+g-m
	font-size: 20px
	line-height: 24px

=g-r-10
	+g-r
	font-size: 10px
	line-height: 12px

=g-r-12
	+g-r
	font-size: 12px
	line-height: 14px

=g-r-13
	+g-r
	font-size: 13px
	line-height: 15px

=g-r-14
	+g-r
	font-size: 14px
	line-height: 16px

=g-r-16
	+g-r
	font-size: 16px
	line-height: 18px

=g-r-18
	+g-r
	font-size: 18px
	line-height: 22px

=g-r-20
	+g-r
	font-size: 20px
	line-height: 25px

=g-t-18
	+g-t
	font-size: 18px
	line-height: 21px

=g-b-13
	+g-b
	font-size: 13px
	line-height: 17px

=g-b-14
	+g-b
	font-size: 14px
	line-height: 18px

=g-b-15
	+g-b
	font-size: 15px
	line-height: 18px

=g-b-16
	+g-b
	font-size: 16px
	line-height: 19px

=g-b-18
	+g-b
	font-size: 18px
	line-height: 21px

=g-b-20
	+g-b
	font-size: 20px
	line-height: 24px

=g-b-25
	+g-b
	font-size: 25px
	line-height: 30px

=g-b-30
	+g-b
	font-size: 30px
	line-height: 33px

=g-b-40
	+g-b
	font-size: 40px
	line-height: 55px

