@import '_fonts'
@import '_vars'
@import '_header'
@import '_footer'
@import '_index'
@import '_repeatPages'
@import '_galery'
@import '_basket'
@import '_fag'
@import '_favourites'
@import '_pay'
@import '_contact'
@import '_about'
@import '_deliveryPay'
@import '_project_inner' 
@import '_search' 
@import '_catalog' 
@import '_company'
@import '_404NotFound' 
@import '_responsive'

body
  background-color: $white

section
  min-height: 100vh
  display: flex
  flex-direction: column

footer
  margin-top: auto

button
  +btn_default


.same_bottom_container
  .swiper-slide
    height: unset
    .paint_box
      height: 100%
.repeat_main_container
  width: 100%


.breadcrumbs
  margin-top: 35px
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  grid-gap: 6px 12px
  span
    +g-m-12
    color: $black_2
  
  a
    +g-m-12
    color: $blue_1

.heading_container_same
  +flex_1
  align-items: flex-start
  margin: 25px 0
  width: 100%
  button.filter
    margin-top: 4px
  p.title_same_heading
    +g-b-30
    color: $black_2
    padding-left: 6px
    border-left: 2px solid $border_left
    word-break: break-all
  
  p.search_count , p.basket_count
    +g-r-16
    color: $black_2
    span
      +g-b-16
      margin-left: 5px
  
.same_grid_boxes
  height: max-content
  
a.see_all
  +g-m-15
  color: $black_2
  padding-bottom: 1px
  border-bottom: 1px solid $black_2
  transition: all .4s

  &:hover
    color: $blue_1
    border-bottom: 1px solid $blue_1

.paint_box
  display: flex
  flex-direction: column
  padding-top: 26px
  border: 1px solid #F1F1F1
  border-radius: 4px
  position: relative
  transition: box-shadow .5s

  &:hover
    box-shadow: 0px 4px 15px rgba(236, 236, 236, 0.85)

  .heart
    position: absolute
    top: 10
    right: 7px
    display: flex
    
    &::after
      position: absolute
      content: ''
      width: 100%
      height: 100%
      left: 0
      top: 0
      background-image: url('../img/heartFull.svg')
      background-position: center
      background-size: cover
      opacity: 0
      transition: opacity .6s
    
    &:hover::after
      opacity: 1
    
    &.active::after
      opacity: 1
      
  .discount
    position: absolute
    top: 0
    left: 12px
    width: 32px
    height: 49px
    +flex_2
    background-image: url('../img/discount_stroke.png')

    p
      +g-m-12
      color: $white
      width: 100%
      word-break: break-word
      text-align: center


   

  .paint_img
    margin: 0 auto
    max-width: 165px
    height: 158px

    img
      width: 100%
      height: 100% 
  
  .paint_desc
    padding: 0 26px
    margin: 6px 0 4px
    .paint_firm
      +g-m-18
      color: $black_2
      word-break: break-word
    
    .paint_name
      +g-m-15
      margin: 2px 0
      word-break: break-word
    
    .paint_type
      +g-r-10
      color: $gray
      word-break: break-word
  
  .paint_prices
    display: flex
    justify-content: space-between
    margin-top: auto
    .price_box
      width: 100%
      padding: 7px 0 7px 26px
      display: flex
      grid-gap: 1px
      align-items: flex-start
      flex-direction: column
      background: rgba(241, 241, 241, 0.3)
      border-radius: 4px
      p.current_price
        +g-b-20
        color: $black_2
        word-break: break-word
      
      p.old_price
        position: relative
        +g-r-13
        color: $black_2
        opacity: .7
        word-break: break-word
        &::after
          content: ''
          position: absolute
          width: 100%
          height: 1px
          left: 0
          top: 6px
          background-color: $blue_1
    
    button.paint_basket
      min-width: 54px
      height: 54px
      +flex_2
      background-color: $blue_2
      border-radius: 4px
      transition: background .5s
      &:hover
        background-color: $blue_hover

.see_more
  +flex_2
  width: 150px
  margin: auto
  height: 39px
  border: 1px solid $black_2
  color: $black_2
  +g-r
  font-size: 15px
  border-radius: 4px
  transition: all .5s

  &:hover
    color: $white
    background-color: $black_2

.same_blue_title
  +g-b-25
  line-height: 42px
  color: $blue_1

.mutual_delivery_info_box
  display: grid
  grid-gap: 20px
  .mutual_delivery_single
    padding: 29px 45px 35px 40px 
    background-color: $aside_back
    border-radius: 8px

.mutual_title
  +g-sb
  font-size: 20px
  line-height: 34px
  color: $black_2

.btn_blue
  background-color: $blue_2
  color: $white
  transition: background-color .5s
  +g-sb
  font-size: 18px
  line-height: 23px
  border-radius: 4px
  &:hover
    background-color: $blue_hover
    color: $white

.white-blue
  background-color: $white 
  color: $blue_2
  transition: background-color .5s
  +g-sb
  font-size: 18px
  line-height: 23px
  border: 1px solid $blue_2
  border-radius: 4px
  &:hover
    background-color: $blue_hover
    color: $white

.form_btn
  background: rgba(255, 255, 255, 0.9)
  color: $blue_4
  transition: background .5s
  &:hover
    background: $blue_4
    color: $white   

.tool_bar_mobile
  position: fixed
  z-index: 105
  display: none
  justify-content: space-between
  align-items: center
  background-color: $white
  min-height: 76px
  width: 100%
  padding: 14px 25px 14px
  left: 0
  bottom: 0
  border-radius: 8px 8px 0 0
  .tool-link
    color: $black_2
    +g-m-10
    opacity: .65
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    grid-gap: 5px
    svg
      rect
        transition: fill .5s

      path
        transition: fill .5s

    &.tool-active
      opacity: 1
      svg
        path ,rect
          fill: #AAD1FC

#addBasket
  .modal-dialog
    max-width: 775px
    margin: auto
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    .modal-content
      padding: 23px 20px
      border: 0
      border-radius: 8px
      .modal-header
        border: 0
        padding: 0 0 0 30px
        h5
          +g-sb
          font-size: 30px
          line-height: 37px
          color: $blue_1
      
      .modal-body
        margin: 13px 0 17px
        padding: 0
        border: 0
        display: grid
        grid-gap: 15px
      
      .modal-footer
        padding: 0
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 40px
        border: 0
        a
          height: 46px
          margin: 0
          +flex_2

#imgShow
  padding: 0 25px !important
  .modal-dialog
    height: 100%
    max-width: 800px
    margin: 0 auto
    +flex_2
    flex-direction: column
    .modal-content
      background: none
      display: flex
      flex-direction: column
      align-items: flex-end
      grid-gap: 4px
      height: max-content
      border: 0
      outline: none
      .delete
        img
          width: 17px
          height: 17px
          filter: brightness(0) invert(1)
      
      .modal-img
        width: 100%
        background: white
        padding: 59px 0
        +flex_2
        border-radius: 4px
        img
          height: 350px
          max-height: 395px

.boya_mosaic
  position: fixed
  height: 100%
  width: 100%
  +flex_2
  background: $white
  left: 0
  top: 0
  z-index: 100000

  &.disappear
    display: none




